<li onclick="start_conversation(event)" data-id="<%= userid %>" data-tm="<%= totalMember %>" data-subtitle="<%= sub_title %>" data-conversationtype="<%= conversation_type %>" data-conversationid="<%= conversation_id %>" data-name="<%= users_name %>" data-img="<%= users_img %>" id="conv<%= conversation_id %>" class="<% if(users_name.length > 18){%>over_length<%}%>">
	<span class="<% if(conversation_type == 'personal'){ %>offline online_<%= userid %> <% } else{ if(privecy == 'public'){ %>hash<% }else{ %>lock<% }} %>"></span><%= users_name %><span class="unreadMsgCount"></span>
</li>



