<li onclick="my_conversation(event)" data-id="<%= userid %>" data-subtitle="<%= sub_title %>" data-conversationtype="<%= conversation_type %>" data-conversationid="<%= conversation_id %>" data-name="<%= users_name %>" data-img="<%= users_img %>" id="conv<%= conversation_id %>" class="<% if(users_name.length > 12){%>over_length<%}%>">
	<span class="online"></span> <%= users_name %>
	<span class="sub-text">- It's you!</span>
</li>
