<% var file_server = 'http://172.16.0.63:5500'; %>
<div class="separetor" data-msgdate="<%= msg_datadate %>">
    <%= msg_data %>
</div>
<div class="per-msg <%= msg_right %> msg_id_<%= msg_id %>" data-msgid="<%= msg_id %>">
    <input type="checkbox" class="selectIt">
    <div class="profile-picture">
        <img src="/images/users/<%= msg_user_img %>" alt="<%= msg_user_img %>">
    </div>
    <div class="triangle-up-right <%= msg_mirror %>"></div>
    <div class="msg-con">
        <div class="msg-header">
            <div class="user-name">
                <%= msg_user_name %>
            </div>
            <div class="toolbar">
                <img src="/images/incoming-reaction_20px @1x.png" class="toolbar-img" onclick="open_reaction(event)">
                <img src="/images/incoming-thread_20px @1x.png" class="toolbar-img reply_thread" onclick="open_thread(event)">
                <%if (msg_is_flag) { %>
                    <img src="/images/flagged_20px @1x.png" class="toolbar-img flaged" onclick="flag_unflag(event)">
                    <% } else { %>
                        <img src="/images/incoming-flag_20px @1x.png" class="toolbar-img" onclick="flag_unflag(event)">
                        <% } %>
                            <img src="/images/incoming-more_20px @1x.png" class="toolbar-img" onclick="open_more('<%= msg_id %>',event)">
            </div>
        </div>
        <div class="msg-body">
            <div class="body-text">
                <span class="msg-text">
        <%if(msg_text == 'This message was deleted.'){%>
        <i><%= msg_text %></i>
        <% } else { %>
        <%- msg_text %>
        <% } %>
        <%if(msg_link_url.length>0 && msg_link_url.length<3) { %>
        <a href="<%= msg_link_url[0] %>" target="_blank"><%= msg_link_url[0] %></a>
        <% } %>
        <%if(msg_type=='call') { %>
        <a href="javascript:void(0)" data-calltype="<%= call_type %>" onclick="callbackAudioVideo(this)">Callback</a>
        <% } %>
        </span>
                <span class="per-msg-time"><%= msg_time %></span>
                <span class="msg-send-seen-delivered">
                    <%if (msg_seen_status) { %>
                        <img src="/images/reciept-delivered_14px_200 @1x.png">
                        <% } else { %>
                            <img src="/images/reciept-sent_14px_200 @1x.png">
                            <% } %>
                        </span>

                <div class="attachment">
                    <%if(msg_attach_video.length > 0){
            for(var i=0; i<msg_attach_video.length; i++){ %>
                        <video controls class="media-msg">
                <source src="<%= file_server %>/upload/<%= msg_attach_video[i] %>" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
                        <%
            }
          } %>

                            <!-- image attachment part -->
                            <%if(msg_attach_img.length>5)
              var imglen = 5;
            else
              var imglen = msg_attach_img.length;
          for(var i=0; i < msg_attach_img.length; i++){
            var fl = '';
            if(imglen >= 3 && i==0)
              fl = "float:left"; %>
                                <img src="<%= file_server %>/upload/<%= msg_attach_img[i] %>" style="<%= fl %>" class="image<%= imglen %> lightbox media-msg">
                                <%
          }
          if(msg_attach_img.length > 5) { %>
                                    <div class="more-images">+
                                        <%= msg_attach_img.length-5 %>
                                    </div>
                                    <% } %>
                                        <!-- end of image attachment part -->

                                        <!-- file attachment part -->
                                        <%for(var i=0; i < msg_attach_file.length; i++){
            var file_type = msg_attach_file[i].split('.').pop().toLowerCase();
            if( file_type == 'ai' || file_type == 'mp3' || file_type == 'doc' ||
                file_type == 'docx' || file_type == 'indd' || file_type == 'js' ||
                file_type == 'sql' || file_type == 'pdf' || file_type == 'ppt' ||
                file_type == 'pptx' || file_type == 'psd' || file_type == 'svg' ||
                file_type == 'xls' || file_type == 'xlsx' || file_type == 'zip' ||
                file_type == 'rar')
              var ext = file_type;
            else var ext = 'other'; %>
                                            <div class="attach-file lightbox" data-filetype="<%= ext %>" data-src="<%= file_server %>/upload/<%= msg_attach_file[i] %>">
                                                <img src="/images/file_icon/<%= ext %>.png" alt="<%= msg_attach_file[i] %>">
                                                <div class="file-name">
                                                    <%- msg_attach_file[i].substring(0, msg_attach_file[i].lastIndexOf('@')); %>.
                                                        <%= file_type %>
                                                </div>
                                                <div class="file-time">
                                                    <%= msg_time %>
                                                </div>
                                            </div>
                                            <% } %>
                                                <!-- end of file attachment part -->

                                                <%if(msg_link_url.length>0) { %>
                                                    <div class="url-details">
                                                        <div class="base-link"><img src="<%= msg_link_url[4] %>">
                                                            <%= msg_link_url[3] %>
                                                        </div>
                                                        <div class="title-link">
                                                            <%= msg_link_url[0] %>
                                                        </div>
                                                        <div class="detail-link">
                                                            <%= msg_link_url[1] %>
                                                        </div>
                                                        <img src="<%= file_server %>/upload/<%= msg_link_url[2] %>" class="image1 lightbox">
                                                        <!-- <img src="<%= msg_link_url[2] %>" class="image1 lightbox">-->
                                                    </div>
                                                    <% } %>
                </div>

                <!-- if message have tags -->
                <div class="tags" id="msgTag<%= msg_id %>"></div>
                <%if(msg_tags.length > 0){ %>
                    <div class="tags">
                        <%for(var i=0; i < msg_tags.length; i++){ %>
                            <span class="tag-list"><%= msg_tags[i] %></span>
                            <% } %>
                    </div>
                    <% } %>
                        <!-- end tags part -->

                        <div class="replies">
                            <%if(msg_replies_thread[0] > 0){ %>
                                <span class="replay-thread">
            <img src="/images/thread_28px_600 @1x.png">
            <span class="no-of-replies rt-hoverhide"><%= msg_replies_thread[0] %> replies</span>
                                <span class="replies-time rt-hoverhide"> last reply <%= msg_replies_thread[1] %></span>
                                <div class="view-thread" onmouseout="hide_view_thread()">View Thread <img src="/images/chevron_8px_600 @1x.png"></div>
                                </span>
                                <% } %>
                                    <%if(msg_replies_emoji != 'no_emoji') { %>
                                        <% _.forEach(msg_replies_emoji[0], function(value, key) { %>
                                            <%if(value > 0) { %>
                                                <span class="emoji <%= key %> " onmouseover="open_rep_user_emo(event)" onmouseout="close_rep_user_emo(event)">
                  <img src="/images/emoji/<%= key %>.png">
                  <span class="count-emoji"><%= value %></span>
                                                </span>
                                                <% } %>
                                                    <% }); %>
                                                        <% } %>
                        </div>
            </div>
            <div class="per-msg-action"><img src="/images/NavbarIcons/actions-create_24px_FFF.png" class="pointer"></div>
        </div>
        <div class="msg-footer"></div>
    </div>
</div>
