<!DOCTYPE html>
<html>

<head>
	<title><%= title%></title>
	<script src="/socket.io/socket.io.js" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style-basic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/toastr.min.css">
	<% if(title == 'calendar'){%>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style_basic_calendar.css">
	<% }%>
	<script src="/javascripts/fontawesome-all.js"></script>
	<script src="/javascripts/jQuery/jquery-3.3.1.min.js"></script>
	<script src="/javascripts/lodash.js"></script>
	<script src="/javascripts/moment.js"></script>
	<script src="/javascripts/tooltipster.bundle.min.js"></script>
	<script src="/javascripts/jquery.highlight.js"></script>
	<script src="/javascripts/toastr.min.js"></script>
	<script src="/javascripts/plugins/push.js"></script>
</head>

<body>
	<div class="main-container">
		<header class="main-header">
			<div class="header-left">
				<ul class="main-menu-list">
					<li class="<% if (title=='Connect') {%>active<% }%>">
						<a href="/">Connects</a>
					</li>

					<li class="<% if (title=='ToDo') {%>active<% }%>">
						<a href="/basic_to_do">To Do's</a>
					</li>
					<li class="<% if (title == 'calendar') {%>active<%} %>">
						<a href="/basic_calendar">Calendar</a>
					</li>
					<li class="">Files</li>
				</ul>
			</div>
			<div class="header-midd">
				<a href="/" class="hayven-logo"><img src="/images/basicAssets/HayvenWordmark.svg"></a>
			</div>
			<div class="header-right">
				<% if (title=='Connect') {%>
				<div class="plus">
					<img class="plus_ico" src="/images/svg/actions-create_24px_000.svg">
				</div>
				<% } %>
				<div class="notification">
				<img src="/images/basicAssets/Top_Nav_Bell.svg" class="notification_ico">
				</div>
				<div class="profile_nav">
					<img class="profilePic" src="/images/users/<%= user_img %>" onclick="profileNav()">
					<img class="nav_ico" src="/images/basicAssets/Down_Chevron.svg" onclick="profileNav()">
					<div class="profilenavMainSection" style="display: none">
						<div class="profileNavContainer" >
							<div class="headNav">
								<h1><%= user_email %></h1>
								<img class="settingEmail" src="/images/basicAssets/Settings.svg" />
							</div>
							<div class="group_input">
								<label class="switchNav">
								<input type="checkbox">
								<span class="sliderNav round"></span>
								<span class="switchFor">Thirty Six Knots</span>
							</label>
							</div>
							<div class="group_input">
								<label class="switchNav">
								<input type="checkbox">
								<span class="sliderNav round"></span>
								<span class="switchFor">Navigate Design</span>
							</label>
							</div>
							<div class="group_input">
								<label class="switchNav">
								<input type="checkbox">
								<span class="sliderNav round"></span>
								<span class="switchFor">Sweet Salvation</span>
							</label>
							</div>
						</div>
						<div class="profileNavContainer" >
							<div class="headNav">
								<h1><%= user_email %></h1>
								<img class="settingEmail" src="/images/basicAssets/Settings.svg" />
							</div>
							<div class="group_input">
								<label class="switchNav">
								<input type="checkbox">
								<span class="sliderNav round"></span>
								<span class="switchFor">Thirty Six Knots</span>
							</label>
							</div>
						</div>
						<span class="linkAccount">Link another account</span>
						<span class="logOut" onclick="window.location.href='/logout'">Sign out form all account</span>
					</div>

				</div>
			</div>
		</header>
