<%- include('layouts/head') %>
    <link href="/stylesheets/style-notification.css" rel="stylesheet">
    <main role="main" class="container">
        <div class="itl-template chat-page">
            <div class="day0">
                <div class="day-head">
                    <div class="day-name">Today</div>
                    <div class="day-tools"><img src="/images/notification/head.png"></div>
                </div>
                <div class="day-rows">
                    <div class="day-assign" id="day-assign">
                        <span class="icon"><img src="/images/notification/chkbox.png"></span>
                        <span class="title">Assigned to you (3)</span>
                        <span class="body">Raymond Holt assigned you to the tasks Dashboard Wirefram...</span>
                    </div>
                    <div class="day-assign2">
                        <div class="title2">Assigned to you (3)</div><br>
                        <p class="divider" style="margin-top: 10px"></p>
                        <span class="icon"><img src="/images/notification/chkbox.png"></span>
                        <span class="dashboard-wireframe"><span class="line">Dashboard Wireframe</span> in Hayven CX/UX</span>
                        <p class="by-raymond-holt">by Raymond Holt</p>


                        <span class="icon"><img src="/images/notification/chkbox.png"></span>
                        <span class="dashboard-wireframe"><span class="line">Dashboard Wireframe</span> in Hayven CX/UX</span>
                        <p class="by-raymond-holt">by Raymond Holt</p>


                        <span class="icon"><img src="/images/notification/chkbox.png"></span>
                        <span class="dashboard-wireframe"><span class="line">Dashboard Wireframe</span> in Hayven CX/UX</span>
                        <p class="by-raymond-holt">by Raymond Holt</p>

                    </div>
                    <div class="day-update">
                        <span class="icon"><img src="/images/notification/rifhtarrow.png"></span>
                        <span class="title">Updates (27)</span>
                        <span class="body">Amy Santiago commented on your file User-Personas.pdf. Raymon...</span>
                    </div>
                   <!--  <div class="day-update2">
                        <div class="title2">Updates (27)</div><br>
                        <div class="in-hayven-cx-ux-15">In Hayven CX/UX (15) <i class="fa fa-caret-up"></i></div>
                        <p class="divider" style="margin-top: 10px"></p>
                        <span class="icon"><img src="/images/notification/file.png"></span>
                        <span class="comment">Amy Santiago commented on your file <span class="line">User-Personas_01.pdf.</span> </span>
                        <div class="clearfix"></div>

                        <span class="icon"><img src="/images/notification/chkbox.png"></span>
                        <span class="comment">Raymond Holt changed the duration of the task <span class="line">Product Roadmap.</span> </span>
                        <div class="clearfix"></div>

                        <span class="icon"><img src="/images/notification/brifecase.png"></span>
                        <span class="comment">Raymond Holt changed the duration of the project.</span>
                        <div class="clearfix"></div>

                        <span class="icon"><img src="/images/notification/chkbox.png"></span>
                        <span class="comment">Jacob Peralta was unassigned from the task <span class="line">User Journeys.</span> </span>
                        <div class="clearfix"></div>

                        <span class="icon"><img src="/images/notification/file.png"></span>
                        <span class="comment">Charles Boyle updated the file  <span class="line">Hayven-Brief.pdf.</span> </span>
                        <div class="clearfix"></div>

                        <span class="icon"><img src="/images/notification/file.png"></span>
                        <span class="comment">Charles Boyle added the file  <span class="line">Roadmap_01.pdf.</span> </span>
                        <div class="clearfix"></div>

                        <span class="icon"><img src="/images/notification/chkbox.png"></span>
                        <span class="comment">Raymond Holt updated the status of the task <span class="line"> User Surveys</span> to Complete.</span>
                        <div class="clearfix"></div>
                        <span class="icon"><img src="/images/notification/chkbox.png"></span>
                        <span class="comment">Raymond Holt changed the hour allocation for the task <span class="line"> User Surveys.</span> </span>
                        <div class="clearfix"></div>
                    </div> -->


                    <div class="day-attention">
                        <span class="icon"><img src="/images/notification/alert.png"></span>
                        <span class="title">Needs attention (1)</span>
                        <span class="body">Maurice and Roy haven't RSVP'd to your meeting request.</span>
                    </div>
                </div>
            </div>
            <div class="yesterday">
                <div class="day-head">
                    <div class="day-name">Yesterday</div>
                    <div class="day-tools"><img src="/images/notification/head.png"></div>
                </div>
                <div class="day-rows">
                    <div class="day-assign">
                        <span class="icon"><img src="/images/notification/chkbox.png"></span>
                        <span class="title">Assigned to you (1)</span>
                        <span class="body">Michael Bluth added you to the project 36 Knots Website.</span>
                    </div>
                    <div class="day-update">
                        <span class="icon"><img src="/images/notification/rifhtarrow.png"></span>
                        <span class="title">Updates (6)</span>
                        <span class="body">Raymond Holt and Amy Santiago commented on your task Product...</span>
                    </div>
                    <div class="day-attention">
                        <span class="icon"><img src="/images/notification/alert.png"></span>
                        <span class="title">Needs attention (4)</span>
                        <span class="body">Your project UI Kit is missing a due date and assignees. Nor...</span>
                    </div>
                    <div class="learn-more">
                        <span class="icon"><img src="/images/notification/rocket.png"></span>
                        <span class="title"> </span>
                        <span class="body">We've released a new feature. <span class="line"> Learn more.</span></span>
                    </div>
                </div>
            </div>
            <div class="this-month">
                <div class="day-head">
                    <div class="day-name">This Month</div>
                    <div class="day-tools"><img src="/images/notification/head.png"></div>
                </div>
                <div class="day-rows">

                    <div class="day-update">
                        <span class="icon"><img src="/images/notification/rifhtarrow.png"></span>
                        <span class="title">Updates (6)</span>
                        <span class="body">Raymond Holt and Amy Santiago commented on your task Product..</span>
                    </div>
                    <div class="day-attention">
                        <span class="icon"><img src="/images/notification/alert.png"></span>
                        <span class="title">Needs attention (9)</span>
                        <span class="body">You and Jamie Fraser haven’t chat in over a month, would y…</span>
                    </div>
                    <div class="learn-more">
                        <span class="icon"><img src="/images/notification/rocket.png"></span>
                        <span class="title"> </span>
                        <span class="body">You’re almost out of space. <span class="line"> Buy more.</span></span>
                    </div>
                </div>
            </div>
            <div class="this-month">
                <div class="notification-area">
                    <div class="view-all-read-notification">View all read notifications.</div>
                    </span>
                </div>
            </div>
        </div>
        </div>
        <%- include('templates/_partial') %>
    </main>
    <script>
        var user_id = '<%= user_id %>';
        var user_fullname = '<%= user_fullname %>';
        var user_img = '<%= user_img %>';
        var to = '';
        console.log(to);
    </script>
    <script>
        $(document).ready(function() {
            $('.day-assign2').hide();
            $('#day-assign').on('click', function() {
                $('.day-assign2').show();
                $('#day-assign').hide();
            });
            $('.day-assign2').on('click', function() {
                $('.day-assign2').hide();
                $('#day-assign').show();
            });

            console.log("ready!");
        });
    </script>
    <script src="/javascripts/socket-client-side.js"></script>
    <%- include('layouts/foot') %>
    <%- include('templates/project/quickproject') %>
