<%- include('layouts/basic_head') %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-basic_to_do.css">
    <%- include('templates/sideBar') %>
    <section class="right-section" id="right-section-area">
        <div class="to_do_container">
            <div class="to_do_header">
                <div class="to_do_head_left">
                    <label class="checkbox_container">Amazon wishlist
                        <input id="amazonWishlist" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="to_do_head_right">
                    <div class="plug" id="chat_icon"><img src="/images/basic_view/msg_icon.png"></div>
                    <div class="plug" id="tagged_area" name=""> <img src="/images/basic_view/tag.png" class="tagged" alt=""></div>
                    <div class="create-tagged-popup" id="create-tagged-popup" style="display: none;">
                        <input type="" name="" class="tagged-popup-title" placeholder="Add tags">
                        <ul class="tags_droupdown">
                            <li>Sales, IT, Marketing</li>
                            <li>Product Design</li>
                            <li>Family</li>
                            <li>Work</li>
                        </ul>

                    </div>

                    <div class="plug"><img src="/images/basic_view/plug.PNG"></div>
                    <div class="pin"><img src="/images/basic_view/pin.PNG"></div>
                    <div class="more"><img src="/images/basic_view/more.PNG"></div>
                </div>
            </div>
            <div class="border_div"></div>
            <div class="workspaceform">
                <form action="">
                    <div class="form_left">
                        <div class="group_div">
                            <label class="fullLabel">WorkSpace</label>
                            <select class="selectWorkspace ">
								<option>Choose a workspace</option>
						    </select>
                            <!-- <div class="styled-select">
								<select>
								   <option>Choose a workspace</option>
								</select>
							 </div> -->

                            <div class="inputGroup" style="margin-left:16px;">
                                <label class="fullLabel" for="dueDateWS">Due date</label>
                                <input type="text" name="" id="dueDateWS" class="input_box" placeholder="Choose a date">
                            </div>
                            <div class="todo-calender" style="display:none" id="calenderPicker">
                                <h4>August 2018 <span class="prev-arrow"><img src="" alt=""></span> <span class="next-arrow"><img src="/images/basicAssets/CalendarChevronRight.svg"
                                                alt=""></span></h4>
                                <div class="todo-days">
                                    <span>S</span>
                                    <span>M</span>
                                    <span>T</span>
                                    <span>W</span>
                                    <span>T</span>
                                    <span>F</span>
                                    <span>S</span>
                                </div>
                                <div class="todo-dates">
                                    <span class="perv-month">27</span>
                                    <span class="perv-month">28</span>
                                    <span class="perv-month">29</span>
                                    <span class="perv-month">30</span>
                                    <span>1</span>
                                    <span>2</span>
                                    <span>3</span>
                                    <span>4</span>
                                    <span>5</span>
                                    <span class="selected">6</span>
                                    <span>7</span>
                                    <span>8</span>
                                    <span>9</span>
                                    <span>10</span>
                                    <span>11</span>
                                    <span>12</span>
                                    <span class="">13</span>
                                    <span>14</span>
                                    <span>15</span>
                                    <span>16</span>
                                    <span>17</span>
                                    <span>18</span>
                                    <span>19</span>
                                    <span>20</span>
                                    <span>21</span>
                                    <span>22</span>
                                    <span>23</span>
                                    <span>24</span>
                                    <span>25</span>
                                    <span>26</span>
                                    <span>27</span>
                                    <span>28</span>
                                    <span>29</span>
                                    <span>30</span>
                                    <span>31</span>
                                </div>
                                <div class="todo-from-to-reminder">
                                    <input class="todo-from" type="text" placeholder="From">
                                    <input class="todo-to" type="text" placeholder="To">
                                    <input class="todo-reminder" type="text" placeholder="Set Reminder">
                                </div>
                                <div class="todo-btn-div">
                                    <button class="todo-cancel-btn" id="calenderCancelBtn" type="button">Cancel</button>
                                    <button class="todo-done-btn" id="calenderDoneBtn" type="button">Done</button>
                                </div>
                            </div>


                        </div>
                        <div class="inputGroup2">
                            <label class="fullLabel">Share with</label>
                            <input type="text" placeholder="Search members" name="" class="input_box2">
                        </div>
                        <div class="shareingImg" data-popup-open="popup-1">
                            <label class="fullLabel">Shareing with</label>
                            <img src="/images/users/nayeem.jpg">
                            <img src="/images/users/joni.jpg">
                            <img src="/images/users/nayeem.jpg">
                            <img src="/images/users/joni.jpg">
                            <span>+4</span>
                        </div>
                        <label class="fullLabel">Notes</label>
                        <textarea class="notes_area" placeholder="Enter your notes here"></textarea>
                        <!-- <div for="uploadFile" class="uploadFile">Upload File</div>
							<input type="file" name="" id="uploadFile"> -->
                        <div class="fileContainer">
                            Upload File
                            <input type="file" />
                        </div>
                    </div>
                    <div class="form_right">
                        <input class="checklist_item" type="text" placeholder="Add a checklist item" name="">
                        <div class="checklist_border_div"></div>
                        <div class="item_list">
                            <label class="progress_status"><span id="showPercent"></span> </label>
                            <div class="item_progress">
                                <!-- <div class="progress" id="progressbar" role="progressbar" aria-valuemax="100"></div> -->
                                <div class="progress" id="progressbar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <label class="checkbox_container">Work on proposal and share tonight
                            <input type="checkbox" class="chek" id="chek1">
                            <span class="checkmark"></span>
                        </label>
                            <label class="checkbox_container">Call John and confirm new pricing
                              <input type="checkbox" class="chek" id="chek2">
                              <span class="checkmark"></span>
                        </label>

                            <label class="checkbox_container">Manage deliverables and schedule a meeting
                             <input type="checkbox" class="chek" id="chek3">
                            <span class="checkmark"></span>

                            <div class="checklist_text"></div>
                      </label>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="right-section" id="right-section_popup">
        <div class="to_do_container">
            <div class="to_do_header">
                <div class="to_do_head_left">
                    <label class="checkbox_container"><span class="todo_labelColor">New To Do</span>
                        <input id="amazonWishlist" type="checkbox">
                        <span class="checkmark"></span>
                    </label>

                </div>

                <div class="to_do_head_right">
                    <div class="plug" id="chat_icon"><img src="/images/basicAssets/Chat.svg"></div>
                    <div class="plug" id="tagged_area" name=""> <img src="/images/basic_view/tag.png" class="tagged" alt=""></div>
                    <div class="create-tagged-popup" id="create-tagged-popup" style="display: none;">
                        <input type="" name="" class="tagged-popup-title" placeholder="Add tags">
                        <ul class="tags_droupdown">
                            <li>Sales, IT, Marketing</li>
                            <li>Product Design</li>
                            <li>Family</li>
                            <li>Work</li>
                        </ul>

                    </div>

                    <div class="plug"><img src="/images/basic_view/plug.PNG"></div>
                    <div class="pin"><img src="/images/basic_view/pin.PNG"></div>
                    <div class="more"><img src="/images/basic_view/more.PNG"></div>
                    <div class="exit_icon"> <img width="54" src="/images/basicAssets/Close.svg" alt="Close"></div>
                </div>
            </div>
            <div class="border_div"></div>
            <div class="workspaceform">
                <form action="">
                    <div class="form_left">
                        <div class="group_div">
                            <label class="fullLabel">WorkSpace</label>
                            <select class="selectWorkspace ">
								<option>Choose a workspace</option>
						    </select>
                            <!-- <div class="styled-select">
								<select>
								   <option>Choose a workspace</option>
								</select>
							 </div> -->

                            <div class="inputGroup" style="margin-left:16px;">
                                <label class="fullLabel" for="dueDateWS_newToDo">Due date</label>
                                <input type="text" name="" id="dueDateWS_newToDo" class="input_box" placeholder="Choose a date">
                            </div>
                            <div class="todo-calender" style="display:none" id="calenderPicker_for_newToDo">
                                <h4>August 2018 <span class="prev-arrow"><img src="" alt=""></span> <span class="next-arrow"><img src="/images/basicAssets/CalendarChevronRight.svg"
                                                alt=""></span></h4>
                                <div class="todo-days">
                                    <span>S</span>
                                    <span>M</span>
                                    <span>T</span>
                                    <span>W</span>
                                    <span>T</span>
                                    <span>F</span>
                                    <span>S</span>
                                </div>
                                <div class="todo-dates">
                                    <span class="perv-month">27</span>
                                    <span class="perv-month">28</span>
                                    <span class="perv-month">29</span>
                                    <span class="perv-month">30</span>
                                    <span>1</span>
                                    <span>2</span>
                                    <span>3</span>
                                    <span>4</span>
                                    <span>5</span>
                                    <span class="selected">6</span>
                                    <span>7</span>
                                    <span>8</span>
                                    <span>9</span>
                                    <span>10</span>
                                    <span>11</span>
                                    <span>12</span>
                                    <span class="">13</span>
                                    <span>14</span>
                                    <span>15</span>
                                    <span>16</span>
                                    <span>17</span>
                                    <span>18</span>
                                    <span>19</span>
                                    <span>20</span>
                                    <span>21</span>
                                    <span>22</span>
                                    <span>23</span>
                                    <span>24</span>
                                    <span>25</span>
                                    <span>26</span>
                                    <span>27</span>
                                    <span>28</span>
                                    <span>29</span>
                                    <span>30</span>
                                    <span>31</span>
                                </div>
                                <div class="todo-from-to-reminder">
                                    <input class="todo-from" type="text" placeholder="From">
                                    <input class="todo-to" type="text" placeholder="To">
                                    <input class="todo-reminder" type="text" placeholder="Set Reminder">
                                </div>
                                <div class="todo-btn-div">
                                    <button class="todo-cancel-btn" id="calenderCancelBtn" type="button">Cancel</button>
                                    <button class="todo-done-btn" id="calenderDoneBtn" type="button">Done</button>
                                </div>
                            </div>


                        </div>
                        <div class="inputGroup2">
                            <label class="fullLabel">Share with</label>
                            <input type="text" placeholder="Search members" name="" class="input_box2">
                        </div>

                        <label class="fullLabel" style="margin-top:32px;">Notes</label>
                        <textarea class="notes_area" placeholder="Enter your notes here"></textarea>
                        <!-- <div for="uploadFile" class="uploadFile">Upload File</div>
							<input type="file" name="" id="uploadFile"> -->
                        <div class="fileContainer">
                            Upload File
                            <input type="file" />
                        </div>
                    </div>
                    <div class="form_right">
                        <input class="checklist_item" id="newToDo_checklist_item" type="text" placeholder="Add a checklist item" name="">
                        <div class="checklist_border_div"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="popup" id="popup1" data-popup="popup-1">
        <div class="popup-inner" id="popup_inner1">
            <p class="members">Members <span class="digit">(8)</span></p>

            <div class="user_area" id="user_area1">
                <div class="user_left_area"><img width="40px" height="40px" src="/images/users/dipok.jpg" alt=""> <span class="user_name">Dipok</span></div>
                <div class="user_right_area hidden">
                    <img class="white_area" src="/images/basicAssets/Chat.svg" alt="">
                    <img class="white_area" src="/images/basicAssets/custom_voice_call.svg" alt="">
                    <img class="white_area" src="/images/basicAssets/custom_video_call.svg" alt="">
                    <img src="/images/basic_view/cross_icon.png" alt="">
                </div>
            </div>
            <div class="user_area" id="user_area2">
                <div class="user_left_area"><img width="40px" height="40px" src="/images/users/dipok.jpg" alt=""> <span class="user_name">Dipok</span></div>
                <div class="user_right_area hidden">
                    <img class="white_area" src="/images/basic_view/msg.png" alt="">
                    <img class="white_area" src="/images/basic_view/call_icon.png" alt="">
                    <img class="white_area" src="/images/basic_view/video_icon.png" alt="">
                    <img src="/images/basic_view/cross_icon.png" alt="">
                </div>
            </div>
            <div class="user_area" id="user_area3">
                <div class="user_left_area"><img width="40px" height="40px" src="/images/users/dipok.jpg" alt=""> <span class="user_name">Dipok</span></div>
                <div class="user_right_area hidden">
                    <img class="white_area" src="/images/basic_view/msg.png" alt="">
                    <img class="white_area" src="/images/basic_view/call_icon.png" alt="">
                    <img class="white_area" src="/images/basic_view/video_icon.png" alt="">
                    <img src="/images/basic_view/cross_icon.png" alt="">
                </div>
            </div>
            <div class="user_area" id="user_area4">
                <div class="user_left_area"><img width="40px" height="40px" src="/images/users/dipok.jpg" alt=""> <span class="user_name">Dipok</span></div>
                <div class="user_right_area hidden">
                    <img class="white_area" src="/images/basic_view/msg.png" alt="">
                    <img class="white_area" src="/images/basic_view/call_icon.png" alt="">
                    <img class="white_area" src="/images/basic_view/video_icon.png" alt="">
                    <img src="/images/basic_view/cross_icon.png" alt="">
                </div>
            </div>
            <div class="user_area" id="user_area5">
                <div class="user_left_area"><img width="40px" height="40px" src="/images/users/dipok.jpg" alt=""> <span class="user_name">Dipok</span></div>
                <div class="user_right_area hidden">
                    <img class="white_area" src="/images/basic_view/msg.png" alt="">
                    <img class="white_area" src="/images/basic_view/call_icon.png" alt="">
                    <img class="white_area" src="/images/basic_view/video_icon.png" alt="">
                    <img src="/images/basic_view/cross_icon.png" alt="">
                </div>
            </div>

            <a class="popup-close" data-popup-close="popup-1" href="#"><img src="/images/basicAssets/Close.svg" alt=""></a>
        </div>
    </div>
    <!-- right chat area-->
    <div id="live-chat">

        <header class="clearfix">
            <a href="#" class="chat-close"> <img width="34" src="/images/basicAssets/Close.svg" alt="Close"></a>
            <div class="heading_area">
                <h4>Amazon Wishlist</h4>
                <img src="/images/basicAssets/Users.svg" alt="">
                <span class="count_member">8 Members</span>
            </div>
            <div class="border_right"></div>
            <div class="voice-call"><img src="/images/basicAssets/custom_voice_call.svg" alt=""></div>
            <div class="video-call"><img src="/images/basicAssets/custom_video_call.svg" alt=""></div>
        </header>

        <div class="chat">

            <div class="chat-history">

                <div class="chat-message clearfix">
                    <div class="chat-message-content clearfix">
                        <!-- <span class="chat-time">13:35</span> -->
                        <h5></h5>
                        <p class="chating_para">soon? the offers are expiring in 3hrs! 😬</p>
                    </div>
                    <!-- end chat-message-content -->

                </div>
                <!-- end chat-message -->

                <div class="chat-message clearfix">
                    <img src="/images/users/joni.jpg" alt="" width="32" height="32">

                    <div class="chat-message-content clearfix">
                        <h5>Mike Meyer</h5><span class="chat-time">3:37</span>

                        <p class="chating_para_2">I'm on it! I’ll post an update here when everything is confirmed!</p>

                    </div>
                    <!-- end chat-message-content -->
                </div>
                <!-- end chat-message -->
                <div class="chat-message clearfix">

                    <img src="/images/users/nayeem.jpg" alt="" width="32" height="32">

                    <div class="chat-message-content clearfix">
                        <h5>Roxie Wilson</h5><span class="chat-time">13:38</span>

                        <p class="chating_para_2">Thanks Mike!.</p>

                    </div>
                    <!-- end chat-message-content -->
                </div>
                <!-- end chat-message -->
                <div class="chat-message clearfix">

                    <img src="/images/users/sujon.jpg" alt="" width="32" height="32">

                    <div class="chat-message-content clearfix">

                        <h5>Mike Meyer</h5><span class="chat-time">13:38</span>

                        <p class="chating_para_2">No worries!</p>

                    </div>
                    <!-- end chat-message-content -->
                </div>
                <!-- end chat-message -->
                <div class="chat-message clearfix">

                    <img src="/images/users/nayeem.jpg" alt="" width="32" height="32">

                    <div class="chat-message-content clearfix">
                        <h5>Mike Meyer</h5> <span class="chat-time">3:37 PM</span>

                        <p class="chating_para_2">Hey everyone! the packages have arrived 😎 please pass by my office and grab the stuff you had on wishlist!</p>
                        <div class="media_img"><img src="/images/basic_view/demo_img.png" alt=""></div>
                    </div>
                    <!-- end chat-message-content -->
                </div>
                <!-- end chat-message -->

            </div>
            <!-- end chat-history -->

            <p class="chat-feedback">Your partner is typing…</p>

            <form action="#" method="post">
                <input type="text" placeholder="Message amazon wishlist…" autofocus>
                <input type="hidden">
                <div class="adons">
                    <img class="send-attach-file" src="/images/basic_view/2.JPG" alt="">
                    <img class="send-emoji" src="/images/basic_view/3.JPG" alt="">
                </div>
            </form>

        </div>
        <!-- end chat -->

    </div>
    <!-- end live-chat -->




    <script>
        $("#user_area1 ").hover(function() {
            $('#user_area1 .user_right_area').removeClass('hidden');
        }, function() {
            $('#user_area1 .user_right_area').addClass('hidden');
        });
        $("#user_area2 ").hover(function() {
            $('#user_area2 .user_right_area').removeClass('hidden');
        }, function() {
            $('#user_area2 .user_right_area').addClass('hidden');
        });
        $("#user_area3 ").hover(function() {
            $('#user_area3 .user_right_area').removeClass('hidden');
        }, function() {
            $('#user_area3 .user_right_area').addClass('hidden');
        });
        $("#user_area4 ").hover(function() {
            $('#user_area4 .user_right_area').removeClass('hidden');
        }, function() {
            $('#user_area4 .user_right_area').addClass('hidden');
        });
        $("#user_area5 ").hover(function() {
            $('#user_area5 .user_right_area').removeClass('hidden');
        }, function() {
            $('#user_area5 .user_right_area').addClass('hidden');
        });
    </script>
    <script>
        var user_id = '<%= user_id %>';
        var user_fullname = '<%= user_fullname %>';
        var user_img = '<%= user_img %>';
        var to = '<%= data[0].room_id %>';
        var conversation_id = '<%= data[0].conversation_id %>';
        var conversation_type = '<%= data[0].conversation_type %>';
        var room_id = '<%= data[0].room_id %>';
        var room_name = '<%= data[0].room_name %>';
        var room_img = '<%= data[0].room_img %>';
        var file_server = 'http://172.16.0.63:5500';
        var allUserdata = <%- JSON.stringify(data) %>;
        var dept = [];
        var memberList = [];
        var adminList = [];
        var adminListUUID = [];
        var memberListUUID = [];
    </script>

    <script>
        $(function() {

            $('[data-popup-open]').on('click', function(e) {
                var targeted_popup_class = jQuery(this).attr('data-popup-open');
                $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

                e.preventDefault();
            });


            $('[data-popup-close]').on('click', function(e) {
                var targeted_popup_class = jQuery(this).attr('data-popup-close');
                $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

                e.preventDefault();
            });
        });
        // $("#toggle_area").hide();
        // $("#advance-separetor").click(function() {
        //     $("#toggle_area").toggle();
        // });

        // $(".item_list").hide();
        // $("#checklist").click(function() {
        //     $(".item_list").toggle();
        // });
    </script>
    <script>
        $('#tagged_area').click(function() {
            $('#tagged_area').css('display', 'none');
            $('#create-tagged-popup').css('display', 'block');
        });
    </script>
    <script>
        $(document).on('click', function(e) {
            if ($(e.target).closest("#tagged_area").length === 0) {
                $("#create-tagged-popup").css('display', 'none');
                $('#tagged_area').css('display', 'block');
            }
        });
        $("#dueDateWS").click(function() {
            $("#calenderPicker").css('display', 'block');
        });
        $(document).on('click', function(e) {
            if ($(e.target).closest("#dueDateWS").length === 0) {
                $("#calenderPicker").css('display', 'none');

            }
        });
        $("#chat_icon").click(function() {
            $("#live-chat").css('display', 'block');
        });
        $('.chat-close').click(function() {
            $("#live-chat").css('display', 'none');
        });

        /* section pop up*/
        $(".plus_To_Do").click(function() {
            $("#right-section-area").css("display", "none");
            $("#right-section_popup").css("display", "block");
            $("#newToDo").css("display", "block");

        });
        $(".exit_icon").click(function() {
            $("#right-section-area").css("display", "block");
            $("#right-section_popup").css("display", "none");
            $("#newToDo").css("display", "none");
        });

        $("#dueDateWS_newToDo").click(function() {
            $("#calenderPicker_for_newToDo").css('display', 'block');
        });
        $(document).on('click', function(e) {
            if ($(e.target).closest("#dueDateWS_newToDo").length === 0) {
                $("#calenderPicker_for_newToDo").css('display', 'none');

            }
        });

        $(document).mouseup(function(e) {
            var container = $("#popup1");
            if (container.has(e.target).length === 0) {
                container.hide();
            }

        });

        // Checklist area
        //Enter keypress
        $(document).ready(function() {
            $('.checklist_item').keypress(function(event) {
                var checklist = $('.checklist_item').val();
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    addCheckbox($('.checklist_item').val());
                    $('.checklist_item').val("");

                }

            });
            $(function() {
                $("#progressbar").progressbar({
                    value: 0,
                    max: 100,
                });

            });


        });
        updateProgress();
        var num = 3;

        function addCheckbox(name) {
            num++;
            var container = $('.item_list');
            var inputs = container.find('input');
            var checklist = $('.checklist_item').val();
            var id = inputs.length + 1;
            var html = '<label class="checkbox_container">' + checklist + '<input type="checkbox" class="chek" id="chek' + num + ' " >' +
                '<span class="checkmark"></span></label>';
            $(html).appendTo(container);

        }

        function updateProgress() {
            var numAll = $('.chek').length;
            var numChecked = 0;

            $('.chek').each(function() {
                if (this.checked) {
                    numChecked++;
                }

            });

            var numAll = $('.item_list input[type="checkbox"]').length;
            var numChecked = $('.item_list input[type="checkbox"]:checked').length;
            var progress_status = $('#showPercent');
            if (numAll > 0) {
                var perc = (numChecked / numAll) * 100;
                var perc_width = "width:" + perc + "%";
                var progress_status_value = progress_status.html(perc.toFixed(2) + '%');
                $(".item_progress #progressbar").progressbar({
                    value: $("#progressbar").attr("style", perc_width)

                });

            }

        }
        var startToDo = (event)=>{
            sideBarActiveInactive(event);
        }
    </script>

    <%- include('layouts/basic_foot') %>
        <script>
            $('.chek').click(function(e) {
                if (e.target.checked) {
                    var grpprivacy = 'private';
                    updateProgress();
                }
                if (!e.target.checked) {
                    var grpprivacy = 'public';
                    updateProgress();
                }
                console.log(grpprivacy);
            });
        </script>
