<%- include('layouts/basic_head') %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-basic_to_do.css">

    <aside class="side-bar">
        <div class="search-chats">
            <!-- <img class="side-bar-search-icon" src="/images/basic_view/search_18px_000.svg" alt=""> -->
            <img class="side-bar-search-icon" src="/images/basicAssets/search_icon_for_sidebar.svg" alt="">
            <img class="side-bar-filter-icon" src="/images/basicAssets/ChatFilter.svg" alt="" onclick="filterdiv()">
            <input type="text" class=" ">
            <div class="filterMainContainer">
                <div class="filterItem">
                    <span>FILTER BY</span>
                    <li>Flagged</li>
                    <li class="tagged">Tagged</li>
                    <li>Unread</li>
                </div>
            </div>
        </div>
        <div class="to_do_sidebar">
            <div class="to_do_pinned">
                <h3>Pinned To Do's</h3>
                <ul class="to_do_Container">
                    <li><img src="/images/basic_view/pinned_to_do.png">Shopping List</li>
                    <li><img src="/images/basic_view/pinned_to_do.png">Family gathering</li>
                    <li><img src="/images/basic_view/pinned_to_do.png">Erika's farWell party</li>
                    <li><img src="/images/basic_view/pinned_to_do.png">Weekly social</li>
                </ul>
            </div>
            <div class="to_do_overdue">
                <h3>Overdue To Do's</h3>
                <ul class="to_do_Container">
                    <li><img src="/images/basic_view/overdue.png">Shopping list</li>
                    <li><img src="/images/basic_view/overdue.png">Family gathering</li>
                </ul>
            </div>
            <div class="to_do_list">
                <h3>To Do's <span class="plus_To_Do">+</span></h3>
                <ul class="to_do_Container">
                    <li><img src="/images/basic_view/pinned_to_do.png">Amazon Wishlist <span class="categorie">- Personal</span></li>
                    <li><img src="/images/basic_view/pinned_to_do.png">Daliy errands</li>
                    <li><img src="/images/basic_view/pinned_to_do.png">Office party</li>
                    <li><img src="/images/basic_view/pinned_to_do.png">Weekly design meetings</li>
                </ul>
            </div>
            <!-- Temporay button-->
        </div>

    </aside>
    <section class="right-section">
        <div class="to_do_container">
            <div class="to_do_header">
                <div class="to_do_head_left">
                    <label class="checkbox_container">Amazon wishlist
                        <input id="amazonWishlist" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="to_do_head_right">
                    <div class="plug"><img src="/images/basic_view/msg_icon.png"></div>
                    <div class="plug" id="tagged_area" name=""> <img src="/images/basic_view/tag.png" class="tagged" alt=""></div>
                    <div class="create-tagged-popup" id="create-tagged-popup" style="display: none;">
                        <input type="" name="" class="tagged-popup-title" placeholder="Add tags">
                        <ul class="tags_droupdown">
                            <li>Sales, IT, Marketing</li>
                            <li>Product Design</li>
                            <li>Family</li>
                            <li>Work</li>
                        </ul>

                    </div>
                    <div class="plug"><img src="/images/basic_view/plug.PNG"></div>
                    <div class="pin"><img src="/images/basic_view/pin.PNG"></div>
                    <div class="more"><img src="/images/basic_view/more.PNG"></div>
                </div>
            </div>
            <div class="workspaceform">
                <form action="">
                    <div class="form_left">
                        <div class="group_div">
                            <label class="fullLabel">WorkSpace</label>
                            <select class="selectWorkspace ">
								<option>Choose a workspace</option>
						    </select>
                            <!-- <div class="styled-select">
								<select>
								   <option>Choose a workspace</option>
								</select>
							 </div> -->

                            <div class="inputGroup" style="margin-left:16px;">
                                <label class="fullLabel" for="dueDateWS">Due date</label>
                                <input type="text" name="" id="dueDateWS" class="input_box" placeholder="Choose a date">
                            </div>
                        </div>
                        <div class="inputGroup2">
                            <label class="fullLabel">Share with</label>
                            <input type="text" placeholder="Search members" name="" class="input_box2">
                        </div>
                        <div class="shareingImg" data-popup-open="popup-1">
                            <label class="fullLabel">Shareing with</label>
                            <img src="/images/users/nayeem.jpg">
                            <img src="/images/users/joni.jpg">
                            <img src="/images/users/nayeem.jpg">
                            <img src="/images/users/joni.jpg">
                            <span>+4</span>
                        </div>
                        <label class="fullLabel">Notes</label>
                        <textarea class="notes_area" placeholder="Enter your notes here"></textarea>
                        <!-- <div for="uploadFile" class="uploadFile">Upload File</div>
							<input type="file" name="" id="uploadFile"> -->
                        <div class="fileContainer">
                            Upload File
                            <input type="file" />
                        </div>
                    </div>
                    <div class="form_right">
                        <input class="checklist_item" type="text" placeholder="Add a checklist item" name="">
                        <!-- <div class="checklist_item_list">
                            <label class="progress_status">56%</label>
                            <div class="item_progress">
                                <div class="progress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                            </div>
                            <div class="item">
                                <input type="checkbox" name="" id="item01">
                                <label for="item01">Work on proposal and share tonight</label>
                            </div>
                            <div class="item">
                                <input type="checkbox" name="" id="item02">
                                <label for="item02">Call John and confirm new pricing</label>
                            </div>
                            <div class="item">
                                <input type="checkbox" name="" id="item03">
                                <label for="item03">Manage deliverables and schedule a meeting</label>
                            </div>
                        </div> -->
                        <div class="item_list">
                            <label class="progress_status">50%</label>
                            <div class="item_progress">
                                <div class="progress" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                            </div>
                            <label class="checkbox_container">Work on proposal and share tonight
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                            <label class="checkbox_container">Call John and confirm new pricing
                        <input type="checkbox">
                        <span class="checkmark"></span>
                       </label>

                            <label class="checkbox_container">Manage deliverables and schedule a meeting
                             <input type="checkbox">
                            <span class="checkmark"></span>
                      </label>

                        </div>
                </form>
                </div>
            </div>
    </section>
    <div class="popup" id="popup1" data-popup="popup-1">
        <div class="popup-inner" id="popup_inner1">
            <p class="members">Members <span class="digit">(8)</span></p>

            <div class="user_area" id="user_area1">
                <div class="user_left_area"><img width="40px" height="40px" src="/images/users/dipok.jpg" alt=""> <span class="user_name">Dipok</span></div>
                <div class="user_right_area hidden">
                    <img class="white_area" src="/images/basic_view/msg.png" alt="">
                    <img class="white_area" src="/images/basic_view/call_icon.png" alt="">
                    <img class="white_area" src="/images/basic_view/video_icon.png" alt="">
                    <img src="/images/basic_view/cross_icon.png" alt="">
                </div>
            </div>
            <div class="user_area" id="user_area2">
                <div class="user_left_area"><img width="40px" height="40px" src="/images/users/dipok.jpg" alt=""> <span class="user_name">Dipok</span></div>
                <div class="user_right_area hidden">
                    <img class="white_area" src="/images/basic_view/msg.png" alt="">
                    <img class="white_area" src="/images/basic_view/call_icon.png" alt="">
                    <img class="white_area" src="/images/basic_view/video_icon.png" alt="">
                    <img src="/images/basic_view/cross_icon.png" alt="">
                </div>
            </div>
            <div class="user_area" id="user_area3">
                <div class="user_left_area"><img width="40px" height="40px" src="/images/users/dipok.jpg" alt=""> <span class="user_name">Dipok</span></div>
                <div class="user_right_area hidden">
                    <img class="white_area" src="/images/basic_view/msg.png" alt="">
                    <img class="white_area" src="/images/basic_view/call_icon.png" alt="">
                    <img class="white_area" src="/images/basic_view/video_icon.png" alt="">
                    <img src="/images/basic_view/cross_icon.png" alt="">
                </div>
            </div>
            <div class="user_area" id="user_area4">
                <div class="user_left_area"><img width="40px" height="40px" src="/images/users/dipok.jpg" alt=""> <span class="user_name">Dipok</span></div>
                <div class="user_right_area hidden">
                    <img class="white_area" src="/images/basic_view/msg.png" alt="">
                    <img class="white_area" src="/images/basic_view/call_icon.png" alt="">
                    <img class="white_area" src="/images/basic_view/video_icon.png" alt="">
                    <img src="/images/basic_view/cross_icon.png" alt="">
                </div>
            </div>
            <div class="user_area" id="user_area5">
                <div class="user_left_area"><img width="40px" height="40px" src="/images/users/dipok.jpg" alt=""> <span class="user_name">Dipok</span></div>
                <div class="user_right_area hidden">
                    <img class="white_area" src="/images/basic_view/msg.png" alt="">
                    <img class="white_area" src="/images/basic_view/call_icon.png" alt="">
                    <img class="white_area" src="/images/basic_view/video_icon.png" alt="">
                    <img src="/images/basic_view/cross_icon.png" alt="">
                </div>
            </div>

            <a class="popup-close" data-popup-close="popup-1" href="#"><img src="/images/basicAssets/Close.svg" alt=""></a>
        </div>
    </div>

    <!-- <div class="popup" id="popup2" data-popup="popup-2">
        <div class="popup-inner" id="popup_inner2">
            <p class="todo_heading">Create a to do </p>
            <p class="title_text">Title</p>
            <input type="text" class="title_textbox" value="Great! I'll work on the proposal and share it with the team">
            <div class="advance-separetor" id="advance-separetor">
                <p>ADVANCED OPTIONS</p>
            </div>
            <div id="toggle_area">
                <div class="group_textbox">
                    <div class="inline_block">
                        <label for=""> Due Date</label><br>
                        <input class="date_textbox" type="text" placeholder="Choose a date">
                    </div>
                    <div class="inline_block" style="margin-left: 32px;">
                        <label for="">Share With</label><br>
                        <input class="share_textbox " type="text" placeholder="Search Members">
                    </div>
                </div>
                <div id="note_textarea">
                    <label class="label_class">Notes</label>
                    <textarea class="notes_area" placeholder="Enter your notes here"></textarea>
                </div>
                <input class="checklist" type="text" placeholder="Add a checklist item" id="checklist" name="">
                <div class="item_list">
                    <label class="progress_status">56%</label>
                    <div class="item_progress">
                        <div class="progress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                    </div>
                    <label class="checkbox_container">Work on proposal and share tonight
                            <input type="checkbox">
                            <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Call John and confirm new pricing
                            <input type="checkbox">
                            <span class="checkmark"></span>
                    </label>
                    <label class="checkbox_container">Manage deliverables and schedule a meeting
                            <input type="checkbox">
                            <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="fileContainer" style="margin-top:32px;">
                Upload File
                <input type="file" />
            </div>

            <a class="popup-close " data-popup-close="popup-2" href="# "><img src="/images/basicAssets/Close.svg" alt="Close"></a>
        </div>
    </div> -->


    <script>
        $("#user_area1 ").hover(function() {
            $('#user_area1 .user_right_area').removeClass('hidden');
        }, function() {
            $('#user_area1 .user_right_area').addClass('hidden');
        });
        $("#user_area2 ").hover(function() {
            $('#user_area2 .user_right_area').removeClass('hidden');
        }, function() {
            $('#user_area2 .user_right_area').addClass('hidden');
        });
        $("#user_area3 ").hover(function() {
            $('#user_area3 .user_right_area').removeClass('hidden');
        }, function() {
            $('#user_area3 .user_right_area').addClass('hidden');
        });
        $("#user_area4 ").hover(function() {
            $('#user_area4 .user_right_area').removeClass('hidden');
        }, function() {
            $('#user_area4 .user_right_area ').addClass('hidden');
        });
        $("#user_area5 ").hover(function() {
            $('#user_area5 .user_right_area').removeClass('hidden');
        }, function() {
            $('#user_area5 .user_right_area').addClass('hidden');
        });
    </script>
    <script>
        var user_id = '<%= user_id %>';
        var user_fullname = '<%= user_fullname %>';
        var user_img = '<%= user_img %>';
        var to = '<%= data[0].room_id %>';
        var conversation_id = '<%= data[0].conversation_id %>';
        var conversation_type = '<%= data[0].conversation_type %>';
        var room_id = '<%= data[0].room_id %>';
        var room_name = '<%= data[0].room_name %>';
        var room_img = '<%= data[0].room_img %>';
        var file_server = 'http://172.16.0.63:5500';
        var allUserdata = <%- JSON.stringify(data) %>;
        var dept = [];
        var memberList = [];
        var adminList = [];
        var adminListUUID = [];
        var memberListUUID = [];
    </script>

    <script>
        $(function() {

            $('[data-popup-open]').on('click', function(e) {
                var targeted_popup_class = jQuery(this).attr('data-popup-open');
                $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

                e.preventDefault();
            });


            $('[data-popup-close]').on('click', function(e) {
                var targeted_popup_class = jQuery(this).attr('data-popup-close');
                $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

                e.preventDefault();
            });
        });


        // $("#toggle_area").hide();
        // $("#advance-separetor").click(function() {
        //     $("#toggle_area").toggle();
        // });

        // $(".item_list").hide();
        // $("#checklist").click(function() {
        //     $(".item_list").toggle();
        // });
    </script>
    <script>
        $('#tagged_area').click(function() {
            $('#tagged_area').css('display', 'none');
            $('#create-tagged-popup').css('display', 'block');
        });
    </script>
    <script>
        $(document).on('click', function(e) {
            if ($(e.target).closest("#tagged_area").length === 0) {
                $("#create-tagged-popup").css('display', 'none');
                $('#tagged_area').css('display', 'block');
            }
        });
    </script>
    <%- include('layouts/basic_foot') %>