<%- include('layouts/basic_head') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style-popup.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style_basic_connect.css">
	<%- include('templates/sideBar') %>
<section class="right-section">
	<%- include('layouts/b_connect/groupChatContainer') %>
	<%- include('templates/chat/message-send-form') %>
	<%- include('layouts/b_connect/createChannelContainer') %>
	<%- include('layouts/b_connect/createDirMsgContainer') %>
	<!-- join chat right panel start  -->
  <%- include('layouts/b_connect/joinChannelPanel') %>
  <!-- join chat right panel end  -->
  <!-- For Checking Div -->
  <input type="hidden" id="divCheck" value="1" name="">

</section>
<!-- per msg create to do -->
<div class="popup" id="createToDoPopup" style="display:none">
	<div class="popup-inner" id="popup_inner2">
		<h2 class="todo_heading">Create a to do </h2>
		<p class="title_text">Title</p>
		<input type="text" class="title_textbox" value="Great! I'll work on the proposal and share it with the team">
		<div class="advance-separetor" id="advance-separetor" onclick="viewtodoAdOp()">
			<p>ADVANCED OPTIONS</p>
		</div>
		<div id="toggle_area" style="display: none;">
			<div class="group_textbox">
				<div class="inline_block">
					<label for=""> Due Date</label><br>
					<input class="date_textbox" type="text" placeholder="Choose a date">
				</div>
				<div class="inline_block">
					<label for="">Share With</label><br>
					<input class="share_textbox " type="text" placeholder="Search Members">
				</div>
			</div>
			<div id="note_textarea">
				<label class="label_class">Notes</label>
				<textarea class="notes_area" placeholder="Enter your notes here"></textarea>
			</div>
			<input class="checklist" type="text" placeholder="Add a checklist item" id="checklist" name="">
			<div class="item_list">
				<label class="progress_status">56%</label>
				<div class="item_progress">
					<div class="progress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
				</div>
				<label class="checkbox_container">Work on proposal and share tonight
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="checkbox_container">Call John and confirm new pricing
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
			</div>
			<div class="fileContainer" style="margin-top:32px;">
				<label for="ToDoFileUp" style="width:136px">Upload File</label>
				<input type="file" id="ToDoFileUp" style="display: none;">
			</div>
		</div>
		<button type="button" class="createToDo_btn" name="button">Create To Do</button>
		<img class="close-create-todo-popup" src="/images/basicAssets/Close.svg" alt="Close" onclick="closeAllPopUp()">
	</div>
</div>
<!-- per msg create to do -->


<!-- Thread reply popup  start-->
<div class="backwrap" style="display: none" id="threadReplyPopUp">
	<div class="msgs-thread-popup">
		<div class="msgs-thread-head">
			<h3><img src="/images/basicAssets/thread.svg" alt=""> Thread</h3>
			<img class="thread-close" src="/images/basicAssets/Close.svg" alt="" onclick="closeAllPopUp()">
		</div>
		<div class="main-thread-msgs"></div>
		<div class="msgs-thread-reply">
			<div class="reply-separetor">
				<p></p>
			</div>
			<div class="replies-container"></div>
		</div>
		<div class="write-thread-msgs">
			<div contenteditable="true" id="msg_rep" class="write-msgs" placeholder="Reply to Raymond Holt"></div>
			<img class="add-attachment" src="/images/basicAssets/Attach.svg" alt="">
			<img class="add-emoji" src="/images/basicAssets/AddEmoji.svg" alt="">
		</div>
	</div>
</div>
<!-- Thread reply popup  end-->
<!-- Thread reply popup slider start-->
<div class="backwrap" style="display: none;" id="threadReplyPopUpSlider">
	<div class="msgs-thread-popup ThreadPopUp" style="display: block">
		<div class="msgs-thread-head">
			<h3><img src="/images/basicAssets/thread.svg" alt=""> Thread</h3>
			<img class="thread-close" src="/images/basicAssets/Close.svg" alt="" onclick="closeAllPopUp()">
		</div>
		<div class="main-thread-msgs">
			<div class="thread-user-photo">
				<img src="/images/users/nayeem.jpg" alt="">
			</div>
			<div class="thread-user-msg">
				<h4>Joshua Tran
					<span class="thread-msg-time">2:12 PM</span>
				</h4>
				<p>Hey guys, What do you think of redesign ?</p>
			</div>
		</div>
		<div class="msgs-thread-reply">
			<div class="reply-separetor">
				<p>2 Reply</p>
			</div>
			<div class="main-thread-msgs" style="margin-top:18px;">
				<div class="thread-user-photo">
					<img src="/images/users/joni.jpg" alt="">
				</div>
				<div class="thread-user-msg">
					<h4>Khandakar Dalim
						<span class="thread-msg-time">2:12 PM</span>
					</h4>
					<p>Thumbs up !!! Huge Difference in functionality.</p>
				</div>
			</div>
			<div class="main-thread-msgs" style="margin-top:18px;">
				<div class="thread-user-photo">
					<img src="/images/users/joni.jpg" alt="">
				</div>
				<div class="thread-user-msg">
					<h4>Khandakar Dalim
						<span class="thread-msg-time">2:12 PM</span>
					</h4>
					<p>Thumbs up !!! Huge Difference in functionality.</p>
				</div>
			</div>
		</div>
		<div class="write-thread-msgs">
			<input type="text" placeholder="Reply to Raymond Holt">
			<img class="add-attachment" src="/images/basicAssets/Attach.svg" alt="">
			<img class="add-emoji" src="/images/basicAssets/AddEmoji.svg" alt="">
		</div>
		<div class="nextThread">
			<img src="/images/basicAssets/nextThreadicon.svg">
		</div>
	</div>
	<div class="msgs-thread-popup ThreadPopUp" style="display: none">
		<div class="msgs-thread-head">
			<h3><img src="/images/basicAssets/thread.svg" alt=""> Thread</h3>
			<img class="thread-close" src="/images/basicAssets/Close.svg" alt="" onclick="closeAllPopUp()">
		</div>
		<div class="main-thread-msgs">
			<div class="thread-user-photo">
				<img src="/images/users/nayeem.jpg" alt="">
			</div>
			<div class="thread-user-msg">
				<h4>Joshua Tran
					<span class="thread-msg-time">2:12 PM</span>
				</h4>
				<p>Hey guys, What do you think of redesign ?</p>
			</div>
		</div>
		<div class="msgs-thread-reply">
			<div class="reply-separetor">
				<p>1 Reply</p>
			</div>
			<div class="main-thread-msgs" style="margin-top:18px;">
				<div class="thread-user-photo">
					<img src="/images/users/joni.jpg" alt="">
				</div>
				<div class="thread-user-msg">
					<h4>Khandakar Dalim
						<span class="thread-msg-time">2:12 PM</span>
					</h4>
					<p>Thumbs up !!! Huge Difference in functionality.</p>
				</div>
			</div>
		</div>
		<div class="write-thread-msgs">
			<input type="text" placeholder="Reply to Raymond Holt">
			<img class="add-attachment" src="/images/basicAssets/Attach.svg" alt="">
			<img class="add-emoji" src="/images/basicAssets/AddEmoji.svg" alt="">
		</div>
		<div class="pevThread">
			<img src="/images/basicAssets/prevThreadicon.svg">
		</div>
	</div>
</div>
<!-- Thread reply popup slider end-->
<!-- Media and file popup start here -->
<div class="backwrap" id="mediaFileBackWrap" style="display:none">
	<div class="media-file-popup" style="display:block">
		<div class="media-tab-header">
			<img class="close-media-popup" onclick="closeMediaPopup()" src="/images/basicAssets/Close.svg" alt="">
			<ul class="media-tabs">
				<li class="active" onclick="viewImgDiv()"><a class="">Images</a></li>
				<li onclick="viewvideoDiv()"><a>Videos</a></li>
				<li onclick="viewFilesoDiv()"><a>Files</a></li>
				<li onclick="viewLinksDiv()"><a>links</a></li>
			</ul>
			<input class="Search-img" type="text" placeholder="Search Images">
		</div>
		<div class="media-tab-body">
			<div id="mediaImages" class="main-images-tab media_Tab_Content" style="display:block">
				<div class="date-by-images">
					<h3>Today</h3>
					<div class="all-images" onclick="showImageSlider()"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
				</div>
				<div class="date-by-images">
					<h3>Yesterday</h3>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
				</div>
				<div class="date-by-images">
					<h3>August 26th, 2018</h3>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
				</div>
				<div class="date-by-images">
					<h3>August 26th, 2018</h3>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
					<div class="all-images"><img src="/images/basic_view/Halsbandsittich.jpg" alt=""></div>
				</div>
			</div>
			<div id="mediaVideos" class="media_Tab_Content" style="display:none">
				<div class="date-by-videos">
					<h3>Today</h3>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
					<div class="all-videos">
						<img src="/images/basic_view/Halsbandsittich.jpg" alt="">
						<div class="video-play-icon"><img src="/images/basicAssets/Play.svg" alt=""></div>
						<p>01:12</p>
					</div>
				</div>
			</div>
			<div id="mediaFiles" class="media_Tab_Content" style="display:none">
				<div class="date-by-files">
					<h3>Today</h3>
					<div class="all-files">
						<img class="file-icon" src="/images/basicAssets/PhotoshopFile.svg" alt="">
						<div class="file-details">
							<h4>Brand_identity_finalprint.psd</h4>
							<p>John Smith <span>August 28th, 2018 at 03:54pm</span></p>
						</div>
						<div class="file-hover-option">
							<img src="/images/basicAssets/Download.svg" alt="">
							<img src="/images/basicAssets/NotFlagged.svg" alt="">
							<img src="/images/basicAssets/MoreMenu.svg" alt="">
						</div>
					</div>
					<div class="all-files">
						<img class="file-icon" src="/images/basicAssets/PhotoshopFile.svg" alt="">
						<div class="file-details">
							<h4>Brand_identity_finalprint.psd</h4>
							<p>John Smith <span>August 28th, 2018 at 03:54pm</span></p>
						</div>
						<div class="file-hover-option">
							<img src="/images/basicAssets/Download.svg" alt="">
							<img src="/images/basicAssets/NotFlagged.svg" alt="">
							<img src="/images/basicAssets/MoreMenu.svg" alt="">
						</div>
					</div>
					<div class="all-files">
						<img class="file-icon" src="/images/basicAssets/PhotoshopFile.svg" alt="">
						<div class="file-details">
							<h4>Brand_identity_finalprint.psd</h4>
							<p>John Smith <span>August 28th, 2018 at 03:54pm</span></p>
						</div>
						<div class="file-hover-option">
							<img src="/images/basicAssets/Download.svg" alt="">
							<img src="/images/basicAssets/NotFlagged.svg" alt="">
							<img src="/images/basicAssets/MoreMenu.svg" alt="">
						</div>
					</div>
					<div class="all-files">
						<img class="file-icon" src="/images/basicAssets/PhotoshopFile.svg" alt="">
						<div class="file-details">
							<h4>Brand_identity_finalprint.psd</h4>
							<p>John Smith <span>August 28th, 2018 at 03:54pm</span></p>
						</div>
						<div class="file-hover-option">
							<img src="/images/basicAssets/Download.svg" alt="">
							<img src="/images/basicAssets/NotFlagged.svg" alt="">
							<img src="/images/basicAssets/MoreMenu.svg" alt="">
						</div>
					</div>
					<div class="all-files">
						<img class="file-icon" src="/images/basicAssets/PhotoshopFile.svg" alt="">
						<div class="file-details">
							<h4>Brand_identity_finalprint.psd</h4>
							<p>John Smith <span>August 28th, 2018 at 03:54pm</span></p>
						</div>
						<div class="file-hover-option">
							<img src="/images/basicAssets/Download.svg" alt="">
							<img src="/images/basicAssets/NotFlagged.svg" alt="">
							<img src="/images/basicAssets/MoreMenu.svg" alt="">
						</div>
					</div>
					<div class="all-files">
						<img class="file-icon" src="/images/basicAssets/PhotoshopFile.svg" alt="">
						<div class="file-details">
							<h4>Brand_identity_finalprint.psd</h4>
							<p>John Smith <span>August 28th, 2018 at 03:54pm</span></p>
						</div>
						<div class="file-hover-option">
							<img src="/images/basicAssets/Download.svg" alt="">
							<img src="/images/basicAssets/NotFlagged.svg" alt="">
							<img src="/images/basicAssets/MoreMenu.svg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div id="mediaLinks" class="media_Tab_Content" style="display:none">
				<div class="date-by-files">
					<h3>Today</h3>
					<div class="all-links">
						<div class="links-logo">
							<img src="/images/basic_view/instagram.jpg" alt="">
						</div>
						<div class="link-details">
							<h4>Instagram announces verification request, transparency tools and stronger 2Fa</h4>
							<a href="#">https://techrunch.com/2018/08/28/instagram-request-verification2fa-about-this-account/</a>
							<p>Corey butler <span>August 28th, 2018 at 03:45pm</span></p>
						</div>
					</div>
					<div class="all-links">
						<div class="links-logo">
							<img src="/images/basic_view/instagram.jpg" alt="">
						</div>
						<div class="link-details">
							<h4>Instagram announces verification request, transparency tools and stronger 2Fa</h4>
							<a href="#">https://techrunch.com/2018/08/28/instagram-request-verification2fa-about-this-account/</a>
							<p>Corey butler <span>August 28th, 2018 at 03:45pm</span></p>
						</div>
					</div>
					<div class="all-links">
						<div class="links-logo">
							<img src="/images/basic_view/instagram.jpg" alt="">
						</div>
						<div class="link-details">
							<h4>Instagram announces verification request, transparency tools and stronger 2Fa</h4>
							<a href="#">https://techrunch.com/2018/08/28/instagram-request-verification2fa-about-this-account/</a>
							<p>Corey butler <span>August 28th, 2018 at 03:45pm</span></p>
						</div>
					</div>
					<div class="all-links">
						<div class="links-logo">
							<img src="/images/basic_view/instagram.jpg" alt="">
						</div>
						<div class="link-details">
							<h4>Instagram announces verification request, transparency tools and stronger 2Fa</h4>
							<a href="#">https://techrunch.com/2018/08/28/instagram-request-verification2fa-about-this-account/</a>
							<p>Corey butler <span>August 28th, 2018 at 03:45pm</span></p>
						</div>
					</div>
					<div class="all-links">
						<div class="links-logo">
							<img src="/images/basic_view/instagram.jpg" alt="">
						</div>
						<div class="link-details">
							<h4>Instagram announces verification request, transparency tools and stronger 2Fa</h4>
							<a href="#">https://techrunch.com/2018/08/28/instagram-request-verification2fa-about-this-account/</a>
							<p>Corey butler <span>August 28th, 2018 at 03:45pm</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="image-popup-slider" style="display:none">
		<img class="close-image-popup-slider" onclick="backToMediaTab()" src="/images/basicAssets/Close.svg" alt="">
		<div class="image-popup-header">
			<h2> <img class="back-to-media-tab" onclick="backToMediaTab()" src="/images/basicAssets/BackArrow.svg" alt="">
				Images</h2>
		</div>
		<div class="images-slide-body">
      <div class="slider-left-arrow" onclick="slaclick()"><img src="/images/basicAssets/Chevron_Left_for_img_slider.svg" alt=""></div>
			<div class="slider-right-arrow" onclick="sraclick()"><img src="/images/basicAssets/Chevron_right_for_img_slider.svg" alt=""></div>
			<img class="currentimg" src="/images/basic_view/Slider-img.jpg" alt="">
			<div class="current-slide-image-details">
				<div class="shared-by-user-photo"><img src="/images/users/nayeem.jpg" alt=""></div>
				<div class="shared-by-user-details">
					<h3>Dean Alvarado</h3>
					<p>August 23rd, 2017 @ 12:10pm</p>
				</div>
				<div class="slide-image-more-option">
					<img src="/images/basicAssets/Download_white.svg" alt="" style="width: 20px">
					<img src="/images/basicAssets/NotFlagged_white.svg" alt="">
					<img onclick="extendImage()" src="/images/basicAssets/Expand_white.svg" alt="">
				</div>
			</div>
		</div>
		<div class="images-slider-footer">
			<div class="slider-footer-all-images"><img src="/images/basic_view/Slider-img.jpg" alt=""></div>
			<div class="slider-footer-all-images"><img src="/images/basic_view/Slider-img.jpg" alt=""></div>
			<div class="slider-footer-all-images"><img src="/images/basic_view/Slider-img.jpg" alt=""></div>
			<div class="slider-footer-all-images"><img src="/images/basic_view/Slider-img.jpg" alt=""></div>
			<div class="slider-footer-all-images"><img src="/images/basic_view/Slider-img.jpg" alt=""></div>
			<div class="slider-footer-all-images"><img src="/images/basic_view/Slider-img.jpg" alt=""></div>
		</div>
	</div>
	<div class="image-extend-popup-slider" style="display:none">
		<div class="close-extend-slider" onclick="closeExtendSlider()"><img src="/images/basicAssets/Close_white.svg" alt=""></div>

    <div class="extend-slider-left-arrow" onclick="slaclick()"><img src="/images/basicAssets/Chevron_Left_for_img_slider.svg" alt=""></div>
		<div class="extend-slider-right-arrow" onclick="sraclick()"><img src="/images/basicAssets/Chevron_right_for_img_slider.svg" alt=""></div>

		<img class="slider-extended-image" src="/images/basic_view/Slider-img.jpg" alt="">

		<div class="current-slide-image-details">
			<div class="shared-by-user-photo"><img src="/images/users/nayeem.jpg" alt=""></div>
			<div class="shared-by-user-details">
				<h3>Dean Alvarado</h3>
				<p>August 23rd, 2017 @ 12:10pm</p>
			</div>
			<div class="slide-image-more-option">
				<img src="/images/basicAssets/Download_white.svg" alt="" style="width: 20px">
				<img src="/images/basicAssets/NotFlagged_white.svg" alt="">
				<img onclick="shrinkImage()" src="/images/basicAssets/Shrink_white.svg" alt="">
			</div>
		</div>
	</div>
</div>
<!-- Media and file popup end here -->
<script>
	function extendImage() {
		$('.image-popup-slider').hide();
		$('.image-extend-popup-slider').show();
	}

	function shrinkImage() {
		$('.image-extend-popup-slider').hide();
		$('.image-popup-slider').show();
	}

	function closeExtendSlider() {
		$('.image-extend-popup-slider').hide();
		$('.image-popup-slider').show();
	}
</script>
<script>
    var user_id = '<%= user_id %>';
    var user_fullname = '<%= user_fullname %>';
    var user_img = '<%= user_img %>';
    var file_server = 'http://172.16.0.63:5500';
    var typing = false; //Global typing variable, for storing typing status
	var timeout = undefined; //Global timeout variable, for storing when typing timeout

	// var conversation_id = '<%= data[0].conversation_id %>';
    // var conversation_type = '<%= data[0].conversation_type %>';
    // var room_id = '<%= data[0].room_id %>';
    // var room_name = '<%= data[0].room_name %>';
    // var room_img = '<%= data[0].room_img %>';
    // var file_server = 'http://172.16.0.63:5500';
    var allUserdata = <%- JSON.stringify(data) %>;
	var dept = [];
	var memberList = [];
	var adminList = [];
	var adminListUUID = [];
	var memberListUUID = [];

	/* Unread messages notification */
	var un_read_conv_id_list = [];
	var occurs = {};
	var total_unread_count = 0;

	$(<%- JSON.stringify(data[0].urRes.array_elements) %>).each(function(i, selected) {
	  un_read_conv_id_list[i] = selected;
	  if (occurs[un_read_conv_id_list[i]] != null ) { occurs[un_read_conv_id_list[i]]++; }
	  else {occurs[un_read_conv_id_list[i]] = 1; }
	});

	$.each(occurs, function(id, c){
		$("#conv"+id).find(".unreadMsgCount").html(c);
		total_unread_count += c;
	});

	var display_show_hide_unread_bar = (total_unread_count) =>{
		if(total_unread_count>0){
			// console.log(total_unread_count);
			$(".scroll_unreadMsg").show();
			$(".scroll_unreadMsg>h5>span").html(total_unread_count);
		}else{
			$(".scroll_unreadMsg>h5>span").html("");
			$(".scroll_unreadMsg").hide();
		}
	};

	display_show_hide_unread_bar(total_unread_count);
	/* End Unread messages notification */
</script>
<script src="/javascripts/socket-client-side.js"></script>
<script src="/javascripts/basic_connect.js"></script>
<script src="/javascripts/socket_basic_connect.js"></script>
<script src="/javascripts/basic_connect_f_d.js"></script>
<%- include('layouts/basic_foot') %>
