<%- include('layouts/head') %>
    <div class="logo_icon">
        <a href="/"> <img src="/images/logo_icon.png" alt=""></a>
    </div>
    <div class="centered-form__form forgot-password">
        <form action="/signup" method="POST">
            <div class="forpass-title">Forgot your password?</div>
            <div class="forpass-subtitle">
                No need to worry! we'll send you a link to reset your password.
            </div>
            <% if (error) { %>
                <div class="form-field">
                    <ul class="error-msg">
                        <% for(var i=0; i < error.length; i++) { %>
                            <li>
                                <%= error[i].msg %>
                            </li>
                            <% } %>
                    </ul>
                </div>
                <% } %>
                    <div class="form-field email-address">
                        <label>Email Address</label>
                        <input type="email" name="email" id="email" placeholder="example@hayven.com" autocomplete="off" required />
                    </div>
                    <div class="sign-up">
                        <button class="sendButton">Send Instructions</button>
                    </div>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            // $('.sendButton').removeClass('active');
            $('input').keyup(function() {
                if ($("#email").val() == "") {
                    $('.sendButton').removeClass('active');
                } else {
                    $('.sendButton').addClass('active');
                }
            });
        });
    </script>
    <%- include('layouts/foot') %>