<%- include('layouts/head') %>
  <link rel="stylesheet" href="/stylesheets/style-quicklist.css">
  <!-- <link rel="stylesheet" href="/stylesheets/dropzone.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
  <script src="/javascripts/masonry/jquery.masonry.min.js"></script>
  <main role="main" class="container">
    <div class="main">
      <!-- Main Div Start Here -->
      <h3 class="Q-page-title">Quicklist</h3>
      <div style="display:block;overflow:hidden;">
        <!--Input Div Start Here -->
        <div class="Q-Add-Task">
          <span><img src="/images/svg/CreateProject.svg"></span>
          <form class="" id="Quicklist-task-form">
            <input id="task-data" placeholder="Jot down your errands, create a shopping list or start something new" autocomplete="off">
          </form>
        </div>
<!--         <div class="Q-filter" onclick="openQuickFilter()">
          <img src="/images/svg/filter_28px_400.svg" class="Q-filter-img">
        </div>
        <div class="filter_quicklist" style="display: none;">
          <div class="close_filter_quicklist"><img onclick="closeQuickFilter()" src="/images/svg/CloseModal.svg"></div>
          <div class="main_filter_quicklist">
            <div class="filter_check_group">
              <div class="checkboxCustomFilter">
                <input type="checkbox" name="" id="filterCompleted" class="FilterCheckQuicklist">
                <label for="filterCompleted">Completed</label>
              </div>
              <div class="checkboxCustomFilter">
                <input type="checkbox" name="" id="filterOverdue" class="FilterCheckQuicklist">
                <label for="filterOverdue">Overdue</label>
              </div>
              <div class="checkboxCustomFilter">
                <input type="checkbox" name="" id="filterCancelled" class="FilterCheckQuicklist">
                <label for="filterCancelled">Cancelled</label>
              </div>
              <div class="checkboxCustomFilter">
                <input type="checkbox" name="" id="filterFlagged" class="FilterCheckQuicklist">
                <label for="filterFlagged">Flagged</label>
              </div>
              <div class="checkboxCustomFilter">
                <input type="checkbox" name="" id="filterSharewithothers" class="FilterCheckQuicklist">
                <label for="filterSharewithothers">Share with others</label>
              </div>
            </div>
            <div class="short_by_filter">
              <span>Sort by</span>
              <input class="due-date" type="text" name="" placeholder="Due Date">
            </div>
          </div>
        </div> -->
      </div>
      <!--Input Div Start Here -->
      <div class="Task-List" id="Task-List">
        <p class="Q-Empty-Msg">You don't have any Tasks yet.</p>
        <div class="" id="Q-All-Task-List" style="display:none;">
          <div class="quicklist_group_title_search">
            <!-- <h3 class="Q-Task-List-Title" >Showing All <span>(<span id="Task-list-count"></span>)</span></h3> -->
            <div id="quickFilter">
              <div id="FilterAll" class="filtering_item_quick filter_active"><p>All</p></div>
              <div id="FilterCompleted" class="filtering_item_quick"><p>Completed</p></div>
              <div id="FilterOverdue" class="filtering_item_quick"><p>Overdue</p></div>
              <div id="FilterCancelled" class="filtering_item_quick"><p>Cancelled</p></div>
              <div id="FilterFlagged" class="filtering_item_quick"><p>Flagged</p></div>
              <div id="FilterShared" class="filtering_item_quick"><p>Shared</p></div>
            </div>
            <input class="quicklist_search search_for_all" id="search-Quick-Task"  type="text" name="" placeholder="Search Quicklist">
          </div>
          <div class="Q-Tasks Task-Default">
            <p>
              <span class="Q-Task-Mark"><img src="/images/svg/Idle.svg" alt=""></span>
              <a class="edit-Task-popup" id="Quicktask1">Lorem ipsum dolor sit, amet consectetureos est quaerat!.</a>
              <span class="Date-Flag-More-Head">
                <span class="Date-Flag-More View-more-menu"><img src="/images/svg/MoreMenu.svg" alt=""></span>
                <span class="Date-Flag-More NotFlagged"><img src="/images/svg/NotFlagged.svg" alt=""></span>
                <span class="Date-Flag-More Flagged" style="display:none"><img src="/images/svg/Flagged.svg" alt=""></span>
                <input type="text" class="Date-Flag-More due-date" placeholder="Due Date">
              </span>
            </p>
            <div class="moreMenu">
              <div class="moreMenu-main">
                <li>Change to project task</li>
                <li class="Mark-Task-Completed" >Mark as completed</li>
                <li class="Cancel-Q-Task" onclick="cancelTask(event)">Cancel task</li>
                <li>Share</li>
                <li class="Delete-Q-Task">Delete</li>
              </div>
            </div>
          </div>
          <div class="Q-Tasks Task-Default">
            <p>
              <span class="Q-Task-Mark"><img src="/images/svg/Idle.svg" alt=""></span>
              <a class="edit-Task-popup" id="Quicktask2"> Email Rebecca and tell her that we need to re-stock suplies from the same vendor.</a>
              <span class="Date-Flag-More-Head">
              <span class="Date-Flag-More View-more-menu"><img src="/images/svg/MoreMenu.svg" alt=""></span>
              <span class="Date-Flag-More NotFlagged"><img src="/images/svg/NotFlagged.svg" alt=""></span>
              <span class="Date-Flag-More Flagged" style="display:none"><img src="/images/svg/Flagged.svg" alt=""></span>
              <input type="text" class="Date-Flag-More due-date" placeholder="Due Date">
              </span>
            </p>
            <div class="moreMenu">
              <div class="moreMenu-main">
                <li>Change to project task</li>
                <li class="Mark-Task-Completed" >Mark as completed</li>
                <li class="Cancel-Q-Task" onclick="cancelTask(event)">Cancel task</li>
                <li>Share</li>
                <li class="Delete-Q-Task">Delete</li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Edit task POPUP Start -->
      <div id="Edit-Task" class="backWrap" style="display:none;">
        <div class="popup">
          <a class="close" id="Close-edit-Task-popup">&times;</a>
          <form  id="EditTaskFormData" class="Edit-Task-Form"  enctype="multipart/form-data" onsubmit="return false;">
            <div class="form-input-group">
              <label class="label">Task Title</label>
              <input type="text" id="task-name" name="" value="Grocery shoping on the way back home" class="input" ">
            </div>
            <div class="form-input-group">
              <div class="short">
                <label class="label">Due Date</label>
                <input type="text" id="task-date" name="" value="" class="short-input quicklist-task-date" placeholder="22/03/2018">
              </div>
            </div>
<!--             <div class="form-input-group" style="margin-bottom: 16px">  -->
            <div class="form-input-group">
              <label class="label" style="margin-top: 16px;">Checklist <span id="check-item-count"></span> </label>
              <input type="text" id="task-item" name="" class="input add-new-task" placeholder="+ Add an item" style="margin-bottom:17.5px">
            </div>
            <div class="form-input-group status">
              <span class="bar-status">50%</span>
              <div class="progress quicklist-popup-progress">
                <div class="progress-bar custom-progress-checkbox" role="progressbar" style="width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="form-input-group custom-check-head">
              <div class="checkboxC checkboxC-primary">
                <input id="task-item-check" type="checkbox" checked>
                <label for="task-item-check" class="task-check-label">
                    Strawberries
                </label>
              </div>
              <div class="checkboxC checkboxC-primary">
                <input id="task-item-check3" type="checkbox">
                <label for="task-item-check3" class="task-check-label">
                    Watermelon
                </label>
              </div>
              <div class="checkboxC checkboxC-primary">
                <input id="task-item-check4" type="checkbox">
                <label for="task-item-check4" class="task-check-label">
                    Grapes
                </label>
              </div>
            </div>
            <!-- Drag & Drop file -->
            <div class="" id="FileDropQuick">
              <div id="clickZoneDiV" >
                <label class="Q-list-drag-file-label">Click or Drag to file</label>
                <input  type="file" id="Q-list-drag-file" name="task_file_data"  onchange="submit_task_file_data(this.files)"   multiple />
                <div class="All_Uploaded_File" id="AllUploadFileList">
                  
                </div>
              </div>
            </div> 
            <!-- Drag & Drop file -->  
                      
<!--             <div class="form-input-group">
              <label class="label" style="margin-top:4px">Notes</label>
              <textarea name="" id="task-note" rows="8" cols="80" style="" placeholder="Add your notes here..."></textarea>
            </div> -->

            <div class="form-input-group">
              <button type="button" class="Edit-Task-Save-Btn">Save</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Edit task POPUP End -->




    </div>
    <!-- Main Div Close Here -->
  </main>
  <script>
    var user_id = '<%= user_id %>';
    var user_fullname = '<%= user_fullname %>';
    var user_img = '<%= user_img %>';
    var to = '';
    // var alluserinfo = <%- JSON.stringify(data) %>;
    // console.log(alluserinfo);
  </script>
  <script src="/javascripts/socket-client-side.js"></script>
  <script src="/javascripts/canvasjs.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/javascripts/jquery.smartuploader.js"></script>
  <script src="/javascripts/custom-quicklists.js"></script>
  <script src="/javascripts/quicklist_file_upload.js"></script>
  <script src="/javascripts/custom.js"></script>
  <script src="/javascripts/custom-chat.js"></script>
  <!-- <script src="/javascripts/dropzone.js"></script> -->

  <%- include('layouts/foot') %>
  <%- include('templates/project/quickproject') %>
