<%- include('layouts/head') %>
    <link href="/stylesheets/singup.css" rel="stylesheet">
    <div class="logo_icon">
        <a href="/"> <img src="/images/logo_icon.png" alt=""></a>
    </div>
    <div class="centered-form__form">
        <form action="/signup" method="POST">
            <input style="opacity: 0;position: absolute;">
            <input type="password" style="opacity: 0;position: absolute;">
            <div class="hello-welcome-back">Signup</div>
            <p class="get-started-for-free">Get started for free with Hayven</p>
            <% if (error) { %>
                <div class="form-field">
                    <ul class="error-msg">
                        <% for(var i=0; i < error.length; i++) { %>
                            <li>
                                <%= error[i].msg %>
                            </li>
                            <% } %>
                    </ul>
                </div>
                <% } %>

                    <div class=" display_inline">
                        <label class="label_title">First Name</label><br>
                        <input type="text" class="input_shape" name="first_name" id="first_name" placeholder="First Name" autocomplete="off" required autofocus />
                    </div>
                    <div class="formDiv display_inline">
                        <label class="label_title">Last Name</label><br>
                        <input type="text" class="input_shape" name="last_name" id="last_name" placeholder="Last Name" autocomplete="off" required />
                    </div>
                    <div class="clearfix"></div>
                    <div class=" email-address">
                        <label class="label_title">Email Address</label><br>
                        <input type="email" class="input_shape2" name="email" id="email" placeholder="Email Address" autocomplete="off" required />
                    </div>
                    <div class="margin_top">
                        <label class="label_title">Phone Number <span class="optional">(Optional)</span></label><br>
                        <input type="text" class="input_shape2" name="phone_Number" id="phone_Number" placeholder="Phone Number" autocomplete="off" />
                        <p class="this-is-for-verifica">This is for verification and security purposes only. We will never share your<br> phone number with anyone.</p>
                    </div>

                    <div class="password margin_top">
                        <label class="label_title">Password</label><br>
                        <input type="password" class="input_shape2" name="password" id="password" placeholder="password" autocomplete="off" required />
                        <img class="close_img_icon" src="/images/close_eye.png" alt="">
                        <!-- <span class="close_img_icon"><i class="fas fa-eye-slash " style="font-size: 18px;"></i></span> -->

                    </div>
                    <p class="create-a-strong-pass" style="margin-top: 7.5px;">Create a strong password that's at least 8 characters long. Mix numbers with<br> uppercase and lowercase letters.</p>
                    <input type="checkbox" class="agree_Checkbox">
                    <span style="margin-top: 17px; " class="i-agree-to-hayven-us">I agree to <span style="color: #4A90E2;">Hayven user agreement</span> and <span style="color:#4A90E2">terms of service.</span></span>

                    <!-- <div class="create_Account"><a href="/singup_mailing">Create Account</a> </div> -->
                    <button type="submit" class="create_Account">Create Account</button>
                    <p class="or">or</p>
                    <div class="social-icon">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-windows windows-icon"></i>
                    </div>
                    <!-- <div class="sign-up">
                        <button class="sendButton">Sign In</button>
                    </div> -->
                    <!-- <a href="/">
                        <div class="back">Back</div>
                    </a> -->
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            // $('.sendButton').removeClass('active');
            $('input').keyup(function() {
                if ($("#fullname").val() == "" || $("#email").val() == "" || $("#password").val() == "") {
                    $('.sendButton').removeClass('active');
                } else {
                    $('.sendButton').addClass('active');
                }
            });
        });
    </script>
    <%- include('layouts/foot') %>
