<li class=" userlist offline online_<%= user.id %>" data-email="<%= user.email %>" data-id="<%= user.id %>" data-name="<%= user.fullname %>" style="display: <%= display %>">
  <%= user.fullname %>
  <span class="nomsg"></span>
</li>


