@import url('./fonts/haven-fonts.css');
@import url('./fonts/fontawesome-all.css');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

/*.main-container {
    display: block;
    overflow: hidden; 
}*/

.main-container {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0px auto;
}


/*.main-header {
    height: 64px;
    width: 100%;
    background-color: #FFFFFF;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}*/
.main-header {
    height: 64px;
    width: 100%;
    background-color: #FFFFFF;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    z-index: 999;
    margin: 0px auto;
    overflow:hidden;
}
.header-left {
    float: left;
    width: 33%;
}

.main-menu-list {
    list-style: none;
    box-sizing: border-box;
    margin-left: 24px;
}

.main-menu-list li {
    display: inline-block;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.18px;
    line-height: 28px;
    padding: 14px 0px 18px 0;
    margin-right: 32px;
    cursor: pointer;
    box-sizing: border-box;
}
.main-menu-list li:last-child{
    margin-right: 0px;
}

.main-menu-list li a {
    color: #9B9B9B;
    text-decoration: none;
}

.main-menu-list li.active {
    color: #1676EA;
    border-top: 4px solid #1676EA;
}
.main-menu-list li.active a {
    color: #1676EA;
}

.header-midd {
    float: left;
    width: auto;
    text-align: center;
    overflow: hidden;
    width: 33%;
}

.hayven-logo {
    text-align: center;
    font-family: hvAssistant;
    font-weight: 600;
    user-select: none;
    /* display: table-cell; */
    vertical-align: middle;
    line-height: 64px;
    font-size: 32px;
    cursor: pointer;
    text-decoration: none;
}
/*
.header-right {
    float: left;
    width: 33%;
}*/
.header-right{
    float: right;
    display: block;
    overflow: hidden;
    line-height: 64px;
    margin-right: 24px;
}
.header-right .plus{
    float: left;
    cursor: pointer;
    width: 56px;
    background-color: rgba(74,144,226,0.16);
    text-align: center;
    border-left:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
}
.header-right .plus_ico{
    user-select: none;
    vertical-align: middle;
}

.notification{
   float: left;
   cursor: pointer;
   width: 56px; 
   text-align: center;
   border-right: 1px solid #DBDBDB;
}
.notification img.notification_ico{
    width: 35px;
    height: 35px;
    user-select: none;
    vertical-align: middle;
}
.profile_nav{
    float: left;
    display: block;
    padding-left: 13px;
    cursor: pointer;
    text-align: center;
    
}
.profile_nav img.profilePic{
    width: 35px;
    height: 35px;
    border-radius: 30%;
    user-select: none;
    vertical-align: middle;
}
.profile_nav img.nav_ico{
    position: relative;
    user-select: none;
    vertical-align: middle;
}
.profilenavMainSection{
    width: 307px;
    height: 338px;
    position: fixed;
    margin-top: 4px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 16px 0px 32px;
    border-radius: 4px;
    right: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.1),
    0 18px 18px 0 rgba(10, 31, 68, 0.12);
    cursor: context-menu;
}

.profileNavContainer{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    height: 338px;
    height: auto;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 16px 32px;
    border-bottom:1px solid #F2F2F2;
}
.profileNavContainer .headNav h1{
    color: rgba(18,18,18,0.88);
    font-family: hvWorkSans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 12px;
    float: left;
    overflow: hidden;
    width: 222px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.profileNavContainer .headNav .settingEmail{
    float: right;
    box-sizing: border-box;
    height: 18px;
    width: 18px;
    cursor: pointer;
}
.headNav{
    display: block;
    height: auto;
    overflow: hidden;
}
.switchNav input {
    display: none;
}
.switchNav {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    float: left;
}
input:checked + .sliderNav {
    background-color: #1ed770;
}
.sliderNav.round { 
    border-radius: 34px;
}
.sliderNav {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.sliderNav.round:before {
    border-radius: 50%;
}
.sliderNav:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 4px;
    bottom: 3px;
    top: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 4px 4px 0 rgba(10,31,68,0.16);
}
input:checked + .sliderNav:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(12px);
}

.group_input{
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 4px;
    height: 20px;
}
.group_input .switchFor{
    float: left;
    width: 150px;
    margin-left: 35px;
    color: rgba(18,18,18,0.5);
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    cursor: pointer;
}

.profilenavMainSection .linkAccount{
    height: 21px;
    color: #1676EA;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    margin: 16px 32px 8px 32px;
    display: block;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}
.profilenavMainSection .logOut{
    height: 21px;
    color: #E03C31;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    margin: 0px 32px;
    display: block;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}
.side-bar-filter-icon{
    cursor: pointer;
}


/*css for sidebar*/
.side-bar {
    box-sizing: border-box;
    /*   width: 18.4%;*/
    border-right: 1px solid #DBDBDB;
    background-color: #F2F2F2;
    float: left;
    display: block;
    overflow: hidden;
    z-index: 10;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    width: 267px;
    padding-top: 64px;
}

.thread_active {
    width: 127px;
    height: auto;
    position: absolute;
    left: 18px;
    bottom: 15px;
    cursor: pointer;
}

.thread_active img {
    cursor: pointer;
    display: inline-block;
    /* float: left; */
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 20px;
    height: 20px;
}

.thread_active div {
    width: 8px;
    height: 8px;
    position: absolute;
    background: red;
    left: 12px;
    border-radius: 100%;
    border: 1px solid #E03C31;
}

.thread_active span {
    width: 150px;
    display: inline-block;
    float: left;
    height: 18px;
    color: #1676EA;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 18px;
    margin-left: 4px;
}

.search-chats {
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #DBDBDB;
    background-color: #F2F2F2;
    width: 100%;
    text-indent: 20px;
    z-index: 0;
    display: list-item;
    height: 53px;
    box-sizing: border-box;
}

.search-chats input {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    width: 129px;
    height: auto;
    position: absolute;
    right: 48px;
    bottom: 18px;
    background-image: url('/images/basicAssets/search_icon_for_sidebar.svg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 0%;
    background-size: 16px;
    padding-left: 18px;
    box-sizing: border-box;
}

.search-chats input::placeholder {
    height: 20px;
    width: 86px;
    color: rgba(0, 0, 0, 0.32);
    font-family: hvAssistant;
    font-size: 16px;
    line-height: 20px;
}

.side-bar-search-icon {
    position: absolute;
    right: 50px;
    bottom: 18px;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.side-bar-filter-icon {
    position: absolute;
    right: 12px;
    bottom: 11px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    padding: 7px;
}

.side-bar-filter-icon.active {
    border-radius: 50px;
    background-color: #D8D8D8;
}

.side_bar_thread_ico {
    position: absolute;
    left: 18px;
    bottom: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.pinned-chats {
    margin-top: 24px;
}

.pinned-chats h3:hover,
.direct-messages h3:hover,
.channels h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pinned-chats,
.channels,
.direct-messages {
    margin-bottom: 24px;
}

.label_head_aside {
    display: block;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 0 17px 8px 17px;
}

.label_head_aside .add-items-icon {
    float: right;
}

.pinned-chats h3,
.channels h3,
.direct-messages h3 {
    /* height: 19px; */
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 16px;
    box-sizing: border-box;
    float: left;
}

.add-items-icon {
    height: 20px;
    width: 20px;
    font-size: 16px;
    font-weight: 900;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 8px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1.5px solid rgba(0, 0, 0, 0.88);
    box-sizing: border-box;
}

.add-items-icon img {
    position: relative;
    bottom: 15%;
    right: 10%;
}

.side-bar-chats-list {
    list-style: none;
}

.side-bar-chats-list li {
    /* display: block; */
    color: #5A5A5A;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 21px;
    /* margin-bottom: 6px; */
    padding: 4px 0;
    padding-left: 17px;
    /* width: 100%; */
    cursor: pointer;
    box-sizing: border-box;
}

.side-bar-chats-list li:hover {
    background-color: rgba(22, 118, 234, 0.08);
}

.side-bar-chats-list li.active {
    border-left: 6px solid #1676EA;
    background-color: rgba(22, 118, 234, 0.08);
}

.side-bar-chats-list li .sub-text {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.32);
    font-family: hvAssistant;
}


.side_bar_list_item {
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: auto;
}

.side_bar_list_item li {
    list-style: none;
    display: inline-block;
    width: 100%;
    color: #5A5A5A;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 29px;
    box-sizing: border-box;
    padding-left: 42px;
    padding-right: 17px;
    position: relative;
    cursor: pointer;
    height: 29px;
}

.side_bar_list_item li.over_length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side_bar_list_item li .hash {
    background-image: url(/images/basicAssets/PublicHash.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    position: absolute;
    width: 24px;
    left: 12px;
    height: 24px;
    top: 2px;
}

.side_bar_list_item li .online {
    background-image: url(/images/basicAssets/OnlineStatus.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    position: absolute;
    width: 24px;
    left: 12px;
    height: 24px;
    top: 2px;
}

.side_bar_list_item li .offline {
    background-image: url(/images/basicAssets/OfflineStatus.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    position: absolute;
    width: 24px;
    left: 12px;
    height: 24px;
    top: 2px;
}

.side_bar_list_item li .lock {
    background-image: url(/images/basicAssets/PrivateLock.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    position: absolute;
    width: 24px;
    left: 12px;
    height: 24px;
    top: 2px;
}

.side_bar_list_item li .sub-text {
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 15px;
    top: 2px;
    pointer-events: none;
}

.side_bar_list_item li>.online,
.lock,
.offline,
.hash {
    pointer-events: none;
}

.side_bar_list_item li.active {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.88);
}

.side_bar_list_item li:hover {
    background-color: rgba(22, 118, 234, 0.08);
}


.sidebar_item_head {
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    padding: 9px 17px;
    display: block;
}

.sidebar_item_head h3 {
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
}







.sideContainer{
    margin-top: 24px;
    margin-bottom: 24px;
    height: auto;
    display: block;
}
.sideContainer h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sideContainer h3{
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
    box-sizing: border-box;
    float: left;
}





.right-section {
    /*    width: 81.6%;*/
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: 64px;
    position: relative;
    /*    width: 1175px;*/
    box-sizing: border-box;
    float: right;
}

.toDo{
    background-image: url(/images/basicAssets/custom_to_doFor_sidebar.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    position: absolute;
    width: 24px;
    left: 12px;
    height: 24px;
    top: 2px;
}


/*for responsive head*/
@media screen and (max-width: 1023px) {


}
@media (min-width: 1024px) and (max-width: 1280px) {

}

@media screen and (max-width: 320px){

}
