/*::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}*/

body {
    overflow: hidden;
}
.right-section{
    float: right;
}



.chat-header {
    position: fixed;
    /*    width: 81.6%;*/
    width: 100%;
    padding-left: 267px;
    box-sizing: border-box;
    height: 77px;
    border-bottom: 1px solid #DBDBDB;
    background-color: #F2F2F2;
    display: block;
    min-width: 1082px;
    top: 64px;
    z-index: 4;
}

.chat-head-name {
    margin: 17px 0px 17px 25px;
    padding-right: 16px;
    border-right: 2px solid #D8D8D8;
    float: left;
    cursor: pointer;
}

.chat-head-name h2 {
    /* height: 19px; */
    /* width: 99px; */
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}

.chat-head-name h4 {
    /* height: 18px; */
    /* width: 80px; */
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 18px;
    float: left;
    vertical-align: middle;
    padding-top: 5px;
}

.chat-head-name h4 img {
    float: left;
    margin-top: -4px
}

.chat-head-calling {
    float: left;
    padding-left: 16px;
    margin: 23px 0 22px;
}

.chat-head-calling>.pin-unpin,
.chat-head-calling>.tagged,
.chat-head-calling>.voice-call,
.chat-head-calling>.video-call {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
    cursor: pointer;
}

.chat-head-calling>.pin-unpin,
.chat-head-calling>.voice-call,
.chat-head-calling>.video-call,
.chat-head-calling>.tagged {
    box-sizing: border-box;
    padding: 8.5px;
}

.chat-head-more-menu {
    float: right;
    margin: 18px 25px 22px;
}

.chat-head-more-menu>.create-todo,
.chat-head-more-menu>.create-event,
.chat-head-more-menu>.search,
.chat-head-more-menu>.more-menu {
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
}

.chat-head-more-menu>.search-panel {
    height: 40px;
    width: 201px;
    /* border-radius: 20%; */
    float: left;
    margin-right: 8px;
    display: none;
}

.chat-head-more-menu>.search-panel>input {
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: none;
    border-radius: 45px;
    padding: 9px 16px 10px 44px;
    background-image: url(/images/basicAssets/Search.svg);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 7px;
}

.join-channel-div>.search-panel {
    display: block !important;
    height: 40px;
    width: 201px;
    /* border-radius: 20%; */
    float: left;
    margin-right: 8px;
    display: none;
}


.join-channel-div>.search-panel>input {
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: none;
    border-radius: 45px;
    padding: 9px 16px 10px 44px;
    background-image: url(/images/basicAssets/Search.svg);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 7px;

}

.chat-head-more-menu>.more-menu {
    margin-right: 0px;
}

.chat-head-more-menu>.create-todo,
.chat-head-more-menu>.create-event,
.chat-head-more-menu>.search,
.chat-head-more-menu>.more-menu {
    box-sizing: border-box;
    padding: 10.62px;
}

.chat-head-more-menu>.create-todo-popup {
    /* position: absolute;
    top: 0px;
    right: 0px; */
    min-height: 85px;
    width: 299px;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: block;
    padding: 16px;
    /* box-shadow: 0px 5px 12px -11px; */
    box-sizing: border-box;
    cursor: context-menu;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08),
        0 1px 0px 0.2px rgba(10, 31, 68, 0.1);
    display: none;
    float: left;
    margin-right: 8px;
}

.create-todo-popup-title {
    box-sizing: border-box;
    height: 21px;
    width: 100%;
    background-image: url('/images/basicAssets/custom_to_do.svg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 0%;
    color: #000000;
    font-family: hvAssistant;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 21px;
    border: none;
    padding-left: 24px;
}

.create-todo-popup-title::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.todo-btn-group {
    float: right;
    margin-top: 16px;
}

.todo-cancel-btn {
    box-sizing: border-box;
    height: 38px;
    width: 96px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 21px;
    cursor: pointer;
    background-color: transparent;
}

.todo-create-btn {
    height: 37px;
    width: 136px;
    border-radius: 4px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 21px;
    border: none;
    cursor: pointer;
}

.create-todo-ad-option {
    width: 100%;
    margin: 14px 0px 0px;
    text-align: center;
    font-size: 11px;
    position: relative;
}

.create-todo-ad-option:after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}

.create-todo-ad-option>p {
    width: auto;
    position: relative;
    display: inline-block;
    color: #8A94A6;
    font-family: hvAssistant;
    background-color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 16px;
    z-index: 2;
    cursor: pointer;
}

.todo-advance-option-div {
    display: block;
    margin-top: 10px;
    min-height: 98px;
    width: 100%;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 3px 4px 0 rgba(10, 31, 68, 0.1);
    padding: 14px 24px 22px;
    box-sizing: border-box;
}

.todo-advance-option-div>p {
    color: #8A94A6;
    font-family: hvAssistant;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.channel-member-search {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 22px;
}

.channel-member-search>input {
    height: 32px;
    width: 100%;
    border-radius: 3px;
    background-color: #F1F2F4;
    border: none;
    padding: 6px 24px 6px 8px;
    background-image: url(/images/basicAssets/Search.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-x: 97%;
    background-position-y: 50%;
    box-sizing: border-box;
}

.channel-member-search>input::placeholder {
    color: #A6AEBC;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.chat-head-more-menu>.create-event-popup {
    min-height: 239px;
    width: 287px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    /* position: absolute; */
    /* top: 0px;
    right: 0px; */
    cursor: context-menu;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08),
        0 1px 0px 0.2px rgba(10, 31, 68, 0.1);
    padding: 9px 16px 16px;
    display: none;
    float: left;
    margin-right: 8px;
}

.create-event-popup-title {
    box-sizing: border-box;
    height: 21px;
    width: 100%;
    background-image: url('/images/basicAssets/custom_create_event.svg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 0%;
    color: #000000;
    font-family: hvAssistant;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 21px;
    border: none;
    padding-left: 24px;
    margin-bottom: 16px;
}

.create-event-popup-title::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.event-date-location {
    position: relative;
}

.event-date-time {
    margin-bottom: 8px;
}

.event-date-time,
.event-location {
    height: 40px;
    width: 100%;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 40px 10px 16px;
}

.event-date-time::placeholder,
.event-location::placeholder {
    color: #A6AEBC;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.event-btn-group {
    float: right;
}

.event-cancel-btn {
    box-sizing: border-box;
    height: 38px;
    width: 96px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 21px;
    cursor: pointer;
    background-color: transparent;
}

.event-create-btn {
    height: 37px;
    width: 136px;
    border-radius: 4px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 21px;
    border: none;
    cursor: pointer;
}

.chat-page {
    margin-top: 77px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 267px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 66vh;
}

.send-photo {
    width: 328px;
    height: 210px;
    border-left: 2px solid #D8D8D8;
    padding-left: 8px;
    margin-left: 69px;
    /* margin-bottom: 33px; */
}

.send-photo img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.msg-separetor {
    width: 100%;
    height: 21px;
    margin: 24px 0px;
    text-align: center;
    font-size: 16px;
    position: relative;
}

.msg-separetor:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #9B9B9B;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    opacity: 0.3;
}

.msg-separetor p {
    width: auto;
    display: inline-block;
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 21px;
    position: relative;
    background-color: #FFFFFF;
    z-index: 3;
    padding: 0 32px;
}

.msgs-form-users {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    /* overflow: hidden; */
    padding: 5px 0;
    position: relative;
}

.msgs-form-users:last-child {
    margin-bottom: 20px;
}

.msgs-form-users:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;
}

.msgs-form-users:hover>.msgs-form-users-options {
    display: block;
}

.msgs-form-users-options {
    position: absolute;
    top: 4px;
    right: 24px;
    height: 44px;
    width: 176px;
    border: 1px solid rgba(0, 0, 0, 0.88);
    border-radius: 4px;
    background-color: #FFFFFF;
    display: none;
    padding: 11.80px;
    box-sizing: border-box;
}

.msgs-form-users-options>.call-rep-emoji,
.msgs-form-users-options>.flag,
.msgs-form-users-options>.replys,
.msgs-form-users-options>.more {
    float: left;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
}

.msgs-form-users-options>.call-rep-emoji>img,
.msgs-form-users-options>.flag>img,
.msgs-form-users-options>.replys>img,
.msgs-form-users-options>.more>img {
    width: 22px;
    height: 20px;
}

.msgs-form-users-options>.more {
    margin-right: 0px;
}

.msg-user-photo {
    float: left;
}

.msg-user-photo img {
    width: 44px;
    height: 44px;
    border-radius: 15px;
    margin-left: 17px;
    margin-right: 8px;
}

.user-msg {
    float: left;
    width: 90%;
}

.user-msg>h4 {
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 4px;
}

.user-msg>h4 .msg-time {
    color: rgba(0, 0, 0, 0.5);
    font-family: hvAssistant;
    font-size: 14px;
    line-height: 18px;
}

.user-msg>p {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 16px;
    line-height: 21px;
}

.send-image-from-user {
    height: auto;
    max-width: 320px;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 5px;
    display: block;
    overflow: hidden;
    float: left;
}

.send-image-from-user>img {
    max-height: 180px;
    max-width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.user-msg>img {
    height: 180px;
    width: 320px;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 5px;
    cursor: pointer;
}

.send-msgs {
    height: 88px;
    /*    width: 81.6%;*/
    box-sizing: border-box;
    width: 100%;
    padding-left: 267px;
    background-color: #FFFFFF;
    display: block;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    z-index: 9;
}

.write-msgs {
    box-sizing: border-box;
    height: 40px;
    width: 97%;
    margin: 24px 16px 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: block;
    overflow: hidden;
    padding: 8px 70px 8px 12px;
    font-size: 16px;
    font-family: hvAssistant;
    overflow-y: auto;
    user-select: none;
}

.write-msgs::placeholder {
    width: 162px;
    color: rgba(0, 0, 0, 0.24);
    font-family: hvAssistant;
    font-size: 16px;
    line-height: 32px;
    padding: 12px;
}

.send-msgs p {
    /* height: 16px;
    width: 121px; */
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 14px;
    line-height: 16px;
    margin-left: 28px;
}

.send-msgs p span {
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 12px;
    line-height: 16px;
}

.send-attach-file {
    position: absolute;
    right: 70px;
    width: 20px;
    height: 20px;
    top: 35px;
    cursor: pointer;
}

.send-emoji {
    position: absolute;
    right: 33px;
    width: 20px;
    height: 20px;
    top: 35px;
    cursor: pointer;
}

.create-channel {
    display: block;
    padding: 33px 25px 33px 292px;
    background-color: #FAFAFA;
    height: 100vh;
    overflow-y: auto;
}

.create-channel-heading {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.photo-upload-invite-member {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 32px;
    display: block;
    overflow: hidden;
}

.upload-channel-photo {
    float: left;
}

.upload-channel-photo .img-div {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 16px;
}

.roomImg {
    float: left;
}

#demoImg {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.upload-channel-photo .roomImg .file-up-div {
    float: left;
    margin-right: 207px;
}

.upload-channel-photo>.roomImg>.file-up-div>p {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 18px;
}

.upload-channel-photo>.roomImg>.file-up-div>input {
    display: none;
}

.upload-channel-photo>.roomImg>.file-up-div>label {
    box-sizing: border-box;
    height: 36px;
    width: 99px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 15px;
    font-weight: 600;
    display: block;
    overflow: hidden;
    padding: 8.5px 24.5px;
    text-align: center;
    margin-top: 11.5px;
    cursor: pointer;
}

.invite-member {
    float: left;
}

.invite-member>p {
    color: #53627C;
    font-family: hvSFProText;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 6px;
}

.invite-member>input {
    height: 48px;
    width: 535px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding: 14px 40px 14px 16px;
    box-sizing: border-box;
}

.invite-member>input::placeholder {
    color: #A6AEBC;
    font-family: hvSFProText;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.channel-name {
    margin-bottom: 32px;
}

.channel-name>p,
.workspace>p {
    color: #53627C;
    font-family: hvSFProText;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 6px;
}

.channel-name>input {
    height: 48px;
    width: 323px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    text-indent: 16px;
    font-family: hvSFProText;
}

.workspace>select {
    height: 48px;
    width: 323px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    font-family: hvSFProText;
    padding: 14px 16px;
}

.channel-name>input::placeholder,
.workspace>select::placeholder {
    color: #A6AEBC;
    font-family: hvSFProText;
    font-size: 14px;
    font-weight: 500;
    /* line-height: 20px; */
}

.workspace>select:required:invalid {
    color: #A6AEBC;
}

.workspace>select>option[value=""][disabled] {
    display: none;
}

.make_private {
    display: block;
    overflow: hidden;
    margin-top: 32px;
}

/*animate checkbox css*/
.switch input {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    float: left;
}

input:checked+.slider {
    background-color: #22C993;
}

.slider.round {
    border-radius: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 5px;
    bottom: 4px;
    top: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 4px 4px 0 rgba(10, 31, 68, 0.16);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(22px);
}

.label_head {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 10px;
    margin-left: 8px;
    float: left;
}

.label_for {
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    margin-left: 8px;
    float: left;
    display: block;
}

.submitBtn {
    display: block;
    overflow: hidden;
    float: right;
    margin-top: 170px;
    margin-bottom: 32px;
}

.submitBtn .create {
    height: 50px;
    width: 195px;
    border-radius: 4px;
    background-color: #4A90E2;
    border: none;
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    cursor: pointer;
}

.submitBtn .cancel {
    box-sizing: border-box;
    height: 51px;
    width: 139px;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.create-direct-msg {
    padding: 33px 25px 33px 292px;
    display: block;
    overflow: hidden;
    min-height: 81vh;
    background-color: #FAFAFA;
}

.create-direct-msg-heading {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 40px;
}

.dir-Workspace {
    margin-bottom: 32px;
}

.dir-Workspace>p,
.dir-invite-member>p {
    color: #53627C;
    font-family: hvSFProText;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 6px;
}

.dir-Workspace>select {
    height: 48px;
    width: 323px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding: 14px 40px 14px 16px;
    font-family: hvSFProText;
}

.dir-Workspace>select>option {
    font-family: hvSFProText;
}

.dir-Workspace>select:required:invalid {
    color: #A6AEBC;
    font-family: hvSFProText;
}

.dir-Workspace>select>option[value=""][required] {
    display: none;
}

.dir-invite-member>input {
    height: 48px;
    width: 323px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding: 13.5px 40px 14px 16px;
    box-sizing: border-box;
    font-family: hvSFProText;

}

.dir-invite-member>input::placeholder {
    color: #A6AEBC;
    font-family: hvSFProText;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.btn-group {
    position: absolute;
    bottom: 33px;
    right: 25px;
}

.cancel-btn {
    box-sizing: border-box;
    height: 51px;
    width: 139px;
    border: 1px solid #9B9B9B;
    background-color: #fff;
    border-radius: 4px;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}

.create-btn {
    height: 50px;
    width: 252px;
    border-radius: 4px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-left: 7.5px;
}

.dir-msg-close {
    position: absolute;
    top: 33px;
    right: 25px;
    cursor: pointer;
}

.invite-member .memberList {
    box-sizing: border-box;
    position: absolute;
    display: none;
    width: 535px;
    border-radius: 4px;
    margin-top: 16px;
    height: 276px !important;
    overflow-y: auto;
}

.invite-member .memberList h1 {
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 7.5px;
    display: block;
    font-weight: 600;
}

.inviteMember {
    box-sizing: border-box;
    height: 56px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 8px 16px;
    margin-bottom: 8px;
    cursor: pointer;
}

.inviteMember:hover {
    background-color: #F5F5F5
}

.inviteMember img {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    float: left;
}

.inviteMember span {
    display: block;
    overflow: hidden;
    float: left;
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    margin-left: 12px;
}

/*From Dipok Start*/
.suggested-type-list {
    display: none;
    position: absolute;
    margin-top: -16px;
    z-index: 10;
}

.suggested-type-list>.remove-suggested-type-list {
    position: absolute;
    right: 5px;
    top: -25px;
    cursor: pointer;
    padding: 5px;
}

.suggested-type-list>ul {
    list-style: none;
    float: left;
    margin-top: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 330px;
    width: 535px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.12),
        0 3px 4px 0 rgba(10, 31, 68, 0.12);
    box-sizing: border-box;
    padding: 16px;
}

.suggested-type-list li {
    height: 56px;
    width: 503px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
    cursor: pointer;
    float: left;
}

.suggested-type-list li:hover {
    background-color: #F5F5F5;
}

.suggested-type-list .profile {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin: 8px 12px 8px 16px;
}

.suggested-member .dpt-members li .name {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 18px;
    font-weight: 600;
    float: left;
    margin: 5px 5px 0 10px;
}

.suggested-type-list li .name {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    margin: 17.5px 0;
    float: left;
}

.suggested-type-list li .designation-name {
    color: #90A4AE;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    float: left;
    margin-top: 10px;
    display: none;
}

.add-admin,
.remove-admin {
    position: absolute;
    right: 41px;
    top: 20px;
    cursor: pointer;
    display: none;
}

.remove-it {
    /*height: 8px !important;
    width: 8px !important;*/
    float: right !important;
    margin-top: 8px;
    display: none;
}

/*From Dipok End*/
/*checkbox item design*/
.added-channel-members {
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
}

.added-channel-members::last-child {
    margin-bottom: 0px;
}

.added-channel-members .checkToDo {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border: 2px solid #E1E4E8;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    box-sizing: border-box;
}

.added-channel-members .checkToDo:checked {
    background-color: #007FFF;
    border: none;
    box-sizing: border-box;
}

.added-channel-members .checkToDo:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
    color: white;
    font-size: 8px;
    position: relative;
    /* right: 149px; */
    left: -90px;
    top: -2px;
    cursor: pointer;
}

.added-channel-members label {
    color: #53627C;
    position: relative;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    height: 0px;
    /* line-height: 18px; */
    top: -2px;
}

/*checkbox item design*/
/*filter*/
.filterMainContainer {
    position: absolute;
    height: 168px;
    width: 256px;
    top: 114px;
    left: 225px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.16), 0 3px 4px 0 rgba(10, 31, 68, 0.16);
    z-index: 10;
    box-sizing: border-box;
    z-index: 100;
    padding: 15px 8px 8px;
    display: none;
}

.filterItem {
    display: block;
    overflow: hidden;
    height: auto;
}

.filterItem span {
    color: #8A94A6;
    font-family: hvAssistant;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    margin: 0 0 9px 16px;
    display: block;
}

.filterItem li {
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: #53627C;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    list-style: none;
    float: left;
    padding: 10px 16px;
    cursor: pointer;
}

.filterItem li:hover {
    background-color: #F8F9FB;
}

.filterItem .tagged {
    background-image: url(/images/basicAssets/ChevronRightBlack.svg);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    background-size: 20px;
}

.chooseTag {
    position: absolute;
    display: block;
    overflow: hidden;
    height: 221px;
    width: 256px;
    left: 256px;
    top: 90px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.16), 0 3px 4px 0 rgba(10, 31, 68, 0.16);
    z-index: 10;
    box-sizing: border-box;
    z-index: 100;
    padding: 15px 24px;
    display: none;
}

/*filter*/
/* flagged msg */
.user-msg h4 .flaggedMsg {
    height: 14px;
    position: relative;
    top: 2px;
    width: 14px;
}

/* flagged msg */
/* more menu panel */
.moreMenuPopup {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    z-index: 100;
    box-sizing: border-box;
    height: auto;
    width: 256px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 8px 10px 0 rgba(10, 31, 68, 0.1);
    position: absolute;
    top: 64px;
    right: 25px;
    padding: 8px;
}

.moreMenuPopup li {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    list-style: none;
    width: 100%;
    color: #53627C;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    padding: 10px 16px;
}

.moreMenuPopup li:hover {
    background-color: #F8F9FB;
}

.moreMenuPopup li:last-child {
    font-family: hvSFProText;
    margin-bottom: 0px;
    color: #E03C31;
    font-weight: 500;
}

/* more menu panel */
/*tagged list*/
.side-bar .tagg_list {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 11.5px 24.5px 0px 24.5px;
}

.side-bar .tagg_list .tag_item {
    box-sizing: border-box;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #DBDBDB;
    border-radius: 13.5px;
    background-color: #FFFFFF;
    padding: 6.5px 26.5px 6.5px 12.5px;
    float: left;
    margin-bottom: 3px;
    margin-right: 3px;
}

.side-bar .tagg_list .tag_item p {
    color: rgba(0, 0, 0, 0.5);
    font-family: hvAssistant;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    float: left;
}

.side-bar .tagg_list .tag_item img {
    box-sizing: border-box;
    position: absolute;
    height: 17px;
    width: 17px;
    float: left;
    cursor: pointer;
}

/*tagged list*/
/* join channel panel right section */
.join-channel {
    overflow: hidden;
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding: 33px 25px 33px 292px;
    height: 100vh;
    overflow-y: auto;
}

.join-channel-div {
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 16px;
    width: 100%;
    position: relative;
}

.join-channel-div .dir-msg-close {
    float: right;
    top: 0;
    right: 0;
}

.join-channel-title {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 24px;
    display: inline-block;
}

.select-workspace>p {
    color: #53627C;
    font-family: hvSFProText;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 6px;
}

.select-workspace>select {
    height: 48px;
    width: 320px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding: 14px 40px 14px 16px;
    box-sizing: border-box;
    color: #0A1F44;
    font-family: hvSFProText;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.search-join-channel {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    right: 0px;
    bottom: 16px;
    cursor: pointer;
}

.search-join-channel>img {
    margin: 8px;
}

.added-channel-div {
    padding-top: 24px;
}

.added-channel-div>.added-channels {
    position: relative;
    height: auto;
    width: 32.3%;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 16px;
    padding: 16px 24px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.added-channel-div>.added-channels:nth-child(3n) {
    margin-right: 0px;
}

.added-channel-div>.added-channels:hover {
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.08),
        0 10px 28px 0 rgba(0, 0, 0, 0.1);
}

.chanel-name {
    position: relative;
    color: rgba(0, 0, 0, 0.88);
    font-family: hvWorkSans;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.23px;
    line-height: 21px;
    margin-bottom: 4px;
    padding-left: 15px;
}

.chanel-name>img {
    position: absolute;
    left: -3px;
    bottom: -2px;
}

.channel-members {
    position: relative;
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 18px;
    margin-bottom: 15.5px;
    padding-left: 23px;
}

.channel-members>img {
    position: absolute;
    left: -3px;
    bottom: -2px;
}

.channel-tags {
    padding-bottom: 15.5px;
    border-bottom: 1px solid #DBDBDB;
}

.channel-tags>p {
    box-sizing: border-box;
    height: 28px;
    width: auto;
    border: 1px solid #DBDBDB;
    border-radius: 13.5px;
    background-color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
    margin-right: 3px;
    color: rgba(0, 0, 0, 0.5);
    font-family: hvAssistant;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    padding: 6.5px 12.5px;
}

.channel-joined {
    position: absolute;
    right: 16px;
    top: 16px;
    color: #7ED321;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.17px;
    line-height: 18px;
}

.channel-joined>img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.click-to-join,
.click-to-leave {
    color: #4A90E2;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 21px;
    text-align: center;
    margin-top: 16px;
    cursor: pointer;
}

.click-to-leave {
    color: #E03C31;
}

#conv_title {
    /* height: 19px; */
    /* width: 99px; */
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}

#conv_key {
    /* height: 21px; */
    /* width: 213px; */
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 14px;
    letter-spacing: 0.23px;
    line-height: 18px;
    font-weight: 500;
}

/* join channel panel right section */
/* msg more popup */
.msg-more-popup {
    position: absolute;
    right: 0;
    top: 20px;
    height: 176px;
    width: 256px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 8px 10px 0 rgba(10, 31, 68, 0.1);
    box-sizing: border-box;
    padding: 18px 24px;
    cursor: context-menu;
    z-index: 99;
}

.msg-more-popup>p {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.msg-more-popup>p:last-child {
    margin-bottom: 0px;
}

/* msg more popup */
.unreadMsgCount {
    box-sizing: border-box;
    height: 21px;
    width: 21px;
    background-color: #1676EA;
    position: absolute;
    right: 18px;
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    top: 4px;
}

.unreadMsgCount:empty {
    background: transparent;
}

.createToDo_btn {
    width: 174px;
    height: 50px;
    float: right;
    display: block;
    border-radius: 4px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 21px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 12px;
    text-align: center;
    margin-top: 34px;
}

/* MSGS Thread popup css */
.backwrap {
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.msgs-thread-popup {
    position: absolute;
    top: 30%;
    left: 30.58%;
    min-height: 185px;
    width: 560px;
    border-radius: 4px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    z-index: 4;
}

.msgs-thread-head>h3 {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvWorkSans;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 21px;
    margin: 16px 0 16px 52px;
    position: relative;
}

.msgs-thread-head>h3>img {
    position: absolute;
    left: -30px;
    bottom: 0px;
    width: 22px;
}

.msgs-thread-head>.thread-close {
    position: absolute;
    top: 11px;
    right: 12px;
    cursor: pointer;
}

.main-thread-msgs {
    padding: 0 24px;
    margin-bottom: 16px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.thread-user-photo {
    width: 44px;
    height: 44px;
    float: left;
    margin-right: 8px;
    border-radius: 15px;
}

.thread-user-photo>img {
    width: 100%;
    border-radius: 15px;
}

.thread-user-msg {
    float: left;
}

.thread-user-msg>h4 {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvWorkSans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.thread-user-msg>h4>.thread-msg-time {
    color: rgba(0, 0, 0, 0.5);
    font-family: hvAssistant;
    font-size: 14px;
    line-height: 18px;
}

.thread-user-msg>p {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 16px;
    line-height: 21px;
}

.msgs-thread-reply {
    box-sizing: border-box;
}

.reply-separetor {
    width: 100%;
    text-align: center;
    position: relative;
}

.reply-separetor:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #9B9B9B;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    opacity: 0.3;
}

.reply-separetor p {
    width: auto;
    display: inline-block;
    font-family: hvAssistant;
    font-size: 11px;
    font-weight: bold;
    position: relative;
    z-index: 3;
    padding: 0 8px;
    color: #8A94A6;
    line-height: 19px;
    background-color: #F2F2F2;
}

.write-thread-msgs {
    height: 72px;
    width: 100%;
    border-radius: 0 0 4px 4px;
    background-color: #F2F2F2;
    padding: 16px 24px;
    box-sizing: border-box;
    position: relative;
}

.write-thread-msgs>input {
    height: 40px;
    width: 512px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 12px;
    box-sizing: border-box;
}

.write-thread-msgs>input::placeholder {
    color: #A6AEBC;
    font-family: hvAssistant;
    font-size: 16px;
    line-height: 16px;
}
.write-thread-msgs>#msg_rep {
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 12px;
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
    line-height: 16px;
}

.write-thread-msgs>#msg_rep::placeholder {
    color: #A6AEBC;
    font-family: hvAssistant;
    font-size: 16px;
    line-height: 16px;
}

.write-thread-msgs>.add-attachment,
.write-thread-msgs>.add-emoji {
    position: absolute;
    top: 37%;
    right: 40px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.write-thread-msgs>.add-attachment {
    right: 75px;
}

/* MSGS Thread popup css */
.backToChat {
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    background-color: #1676EA;
    display: block;
    padding: 9px 17px;
    margin-bottom: 23px;
    cursor: pointer;
}

.backToChat svg {
    float: left;
}

.backToChat h5 {
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.17px;
    line-height: 16px;
    float: left;
    margin-left: 9px;
}



.scroll_unreadMsg {
    height: 30px;
    width: 267px;
    background-color: #E03C31;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
    padding: 6px 40px 6px 40px;
    display: none;
    cursor: pointer;
    text-align: center;
}

.scroll_unreadMsg img {
    position: absolute;
}

.scroll_unreadMsg h5 {
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.17px;
    line-height: 18px;
    display: inline-block;
}

.dir-invite-member ul {
    width: 324px;
}

.dir-invite-member .inviteMember {
    width: 324px;
}

.nextThread {
    box-sizing: border-box;
    height: 41.5px;
    width: 41.5px;
    border: 1.5px solid #FFFFFF;
    opacity: 0.8;
    background-color: #FFFFFF;
    border-radius: 100%;
    position: absolute;
    top: 45%;
    right: -57px;
    padding: 2px 6px;
    cursor: pointer;
}

.pevThread {
    box-sizing: border-box;
    height: 41.5px;
    width: 41.5px;
    border: 1.5px solid #FFFFFF;
    opacity: 0.8;
    background-color: #FFFFFF;
    border-radius: 100%;
    position: absolute;
    top: 45%;
    left: -57px;
    padding: 2px 6px;
    cursor: pointer;
}

.select-ecosystem {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/images/basicAssets/Down_Chevron.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 20px;
    color: #A6AEBC;
}

.select-workspace>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/images/basicAssets/Down_Chevron.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 20px;
    color: #A6AEBC;
}

.emojiListContainer {
    width: 288px;
    height: 52px;
    display: block;
    box-sizing: border-box;
    padding: 10px 4px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.88);
    position: absolute;
    right: -141px;
    bottom: 39px;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08), 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.emojiListContainer img {
    width: 31px;
    height: 30px;
    cursor: pointer;
    margin-right: 4px;
}

.emojiListContainer img:last-child {
    margin-right: 0px;
}

.msgs-form-users .replies .emoji {
    height: 20px;
    padding: 5px;
    border: 1px solid rgba(0, 122, 255, 0.12);
    border-radius: 4px;
    background-color: #F5FAFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.88);
    /* font-family: "Apple Color Emoji"; */
    font-size: 17px;
    line-height: 20px;
    margin-top: 4px;
    display: inline-block;
}

.msgs-form-users .replies .emoji>img {
    width: 20px;
    height: 20px;
}

.msgs-form-users .replies .emoji>.count-emoji {
    color: #007AFF;
    /* font-family: hvAssistant; */
    font-size: 14px;
    /* font-weight: bold; */
    /* line-height: 12px; */
    /* text-align: center; */
    position: relative;
    top: -5px;
}

.rep_user_emo_list {
    position: absolute;
    bottom: 45px;
    min-width: 100px;
    max-width: 250px;
    background-color: #ebeef0;
    z-index: 1040;
    padding: 3px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8), 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.rep_user_emo_list:after,
.rep_user_emo_list:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.rep_user_emo_list:after {
    border-color: rgba(235, 238, 240, 0);
    border-top-color: #ebeef0;
    border-width: 8px;
    margin-left: -8px;
}

.rep_user_emo_list:before {
    border-color: rgba(235, 238, 240, 0);
    border-top-color: rgba(0, 0, 0, 0.7);
    border-width: 9px;
    margin-left: -9px;
}

.highlight {
    background-color: #FFFF88;
}

/* media and file-popup css*/
.media-file-popup {
    position: fixed;
    height: 526px;
    width: 801px;
    top: 8.9%;
    left: 21%;
    background-color: #FAFAFA;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    overflow: auto;
}

.close-media-popup {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}

.media-tab-header {
    border-bottom: 1px solid #D8D8D8;
    background-color: #FAFAFA;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 801px;
    height: 61px;
    position: fixed;
}

.Search-img {
    float: right;
    border: none;
    height: 36px;
    width: 176px;
    border-radius: 4px;
    background-color: #F1F2F4;
    margin: 16px 63px 8px 0px;
    padding: 8px 8px 8px 32px;
    box-sizing: border-box;
    background-image: url(/images/basicAssets/ChatSearch.svg);
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 6px;
    background-size: 20px;
}

.Search-img::placeholder {
    color: rgba(0, 0, 0, 0.32);
    font-family: hvAssistant;
    font-size: 16px;
    line-height: 20px;
}

.media-tab-header>ul> {
    list-style: none;
}

.media-tab-header>ul>li {
    list-style: none;
    float: left;
    margin-right: 32px;
    box-sizing: border-box;
}

.media-tab-header>ul>li.active {
    border-top: 5px solid #1676EA;
    box-sizing: border-box;
}

.media-tab-header>ul>li.active>a {
    box-sizing: border-box;
    color: #1676EA;
    padding-top: 19px;
}

.media-tab-header>ul>li:first-child {
    margin-left: 32px;
}

.media-tab-header>ul>li>a {
    color: #9B9B9B;
    font-family: hvWorkSans;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 8px;
    display: block;
    cursor: pointer;
}

.media-tab-body {
    box-sizing: border-box;
    padding: 77px 32px 0px;
    display: block;
    overflow: hidden;
}

.main-images-tab {
    box-sizing: border-box;
    display: block;
    overflow-y: auto;
}

.date-by-images,
.date-by-videos {
    margin-bottom: 16px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

.date-by-images>h3,
.date-by-videos>h3,
.date-by-files>h3,
.date-by-links>h3 {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvWorkSans;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 8px;
}

.date-by-images>.all-images,
.date-by-videos>.all-videos {
    height: 116px;
    width: 140.6px;
    border-radius: 4px;
    float: left;
    margin-right: 8.4px;
    margin-bottom: 8px
}

.date-by-videos>.all-videos {
    position: relative;
}

.date-by-images>.all-images:nth-child(5n),
.date-by-videos>.all-videos:nth-child(5n) {
    margin-right: 0px;
}

.date-by-images>.all-images>img,
.date-by-videos>.all-videos>img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.date-by-videos>.all-videos>p {
    color: #FFFFFF;
    font-family: hvWorkSans;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.video-play-icon {
    position: absolute;
    top: 38px;
    left: 50px;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.video-play-icon>img {
    height: 16px;
    width: 16px;
    padding: 12px;
}

.date-by-files>.all-files {
    height: 61px;
    width: 737px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 12px 8px 12px 25px;
    margin-bottom: 8px;
    box-sizing: border-box;
    position: relative;
}

.date-by-files>.all-files:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08), 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.date-by-files>.all-files:hover>.file-hover-option {
    display: block;
}

.file-hover-option {
    position: absolute;
    height: 40px;
    width: 129px;
    border: 1px solid rgba(0, 0, 0, 0.88);
    border-radius: 4px;
    background-color: #FFFFFF;
    top: 10px;
    right: 23px;
    padding: 12px;
    box-sizing: border-box;
    display: none;
}

.file-hover-option>img {
    float: left;
    margin-right: 23px;
    width: 19px;
    cursor: pointer;
}

.file-hover-option>img:last-child {
    margin-right: 0px
}

.all-files>.file-icon {
    float: left;
    width: 33px;
    height: 33px;
    margin-right: 13px;
}

.all-files>.file-details {
    float: left;
}

.all-files>.file-details>h4 {
    color: rgba(18, 18, 18, 0.88);
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 4px;
}

.all-files>.file-details>p {
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
}

.all-files>.file-details>p span {
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
}

.all-links {
    height: 88px;
    width: 737px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 12px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.links-logo {
    height: 64px;
    width: 101px;
    border-radius: 4px;
    background-color: #D8D8D8;
    float: left;
    box-sizing: border-box;
    margin-right: 12px;
}

.links-logo>img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.link-details {
    float: left;
}

.link-details>h4 {
    color: rgba(18, 18, 18, 0.88);
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 4px;
}

.link-details>a {
    color: #1676EA;
    font-family: hvAssistant;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 4px;
    text-decoration: none;
}

.link-details>p {
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
}

.link-details>p>span {
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
}

.image-popup-slider {
    height: 640px;
    width: 801px;
    background-color: #FAFAFA;
    display: block;
    overflow: hidden;
    /* overflow-y: scroll; */
    box-sizing: border-box;
    position: absolute;
    top: 8.9%;
    margin-bottom: 8%;
    left: 21%;
}

.close-image-popup-slider {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

.image-popup-header {
    height: 64px;
    border-bottom: 1px solid #D8D8D8;
    padding: 24px 0 16px 56px;
    box-sizing: border-box;
}

.image-popup-header>h2 {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvWorkSans;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 24px;
    position: relative;
    width: 300px;
}

.image-popup-header>h2>img {
    position: absolute;
    top: 4px;
    left: -23.5px;
    width: 20px;
    height: 18px;
    cursor: pointer;
}

.images-slide-body {
    height: 404px;
    width: 737px;
    margin: 16px 32px 24px;
    position: relative;
}

.slider-left-arrow {
    position: absolute;
    box-sizing: border-box;
    height: 33.5px;
    width: 33.5px;
    border: 1.5px solid #FFFFFF;
    opacity: 0.8;
    background-color: #FFFFFF;
    border-radius: 50%;
    left: 15.25px;
    bottom: 185.25px;
    cursor: pointer;
}

.slider-left-arrow>img {
    padding: 5px 5px;
    height: 18.9px;
}

.slider-right-arrow {
    position: absolute;
    box-sizing: border-box;
    height: 33.5px;
    width: 33.5px;
    border: 1.5px solid #FFFFFF;
    opacity: 0.8;
    background-color: #FFFFFF;
    border-radius: 50%;
    right: 15.25px;
    bottom: 185.25px;
    cursor: pointer;
}

.slider-right-arrow>img {
    padding: 5px 7px;
    height: 18.9px;
}

.images-slide-body>img {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
}

.current-slide-image-details {
    height: 48px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 7px 16px;
    box-sizing: border-box;
}

.shared-by-user-photo {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 6px;
}

.shared-by-user-photo>img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.shared-by-user-details {
    float: left;
}

.shared-by-user-details>h3 {
    color: #FFFFFF;
    font-family: hvWorkSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 2px;
}

.shared-by-user-details>p {
    color: #FFFFFF;
    font-family: hvWorkSans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.slide-image-more-option {
    float: right;
}

.slide-image-more-option>img {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 24px;
    margin-top: 9px;
}

.images-slider-footer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    margin: 0px 32px 51px;
}

.slider-footer-all-images {
    float: left;
    height: 80px;
    width: 116.17px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 8px;
    flex: 0 0 auto;
}

.slider-footer-all-images>img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
}

.slider-footer-all-images>img.active {
    opacity: 1;
}

.slider-footer-all-images:last-child {
    margin-right: 0px;
}

/* media and file-popup css*/
/* Image extend slider */
.image-extend-popup-slider {
    height: 82%;
    width: 81%;
    position: relative;
    margin: 4.5% auto;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
}

.slider-extended-image {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
}

.close-extend-slider {
    position: absolute;
    right: -6%;
    top: -4.5%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close-extend-slider>img {
    width: 100%;
    height: 100%;
}

.extend-slider-left-arrow {
    box-sizing: border-box;
    height: 41.5px;
    width: 41.5px;
    border: 1.5px solid #FFFFFF;
    opacity: 0.8;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    left: -6.5%;
    top: 43.30%;
    cursor: pointer;
}

.extend-slider-left-arrow>img {
    height: 23.64px;
    width: 21.25px;
    padding-left: 8px;
    padding-top: 6px;
}

.extend-slider-right-arrow {
    box-sizing: border-box;
    height: 41.5px;
    width: 41.5px;
    border: 1.5px solid #FFFFFF;
    opacity: 0.8;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    right: -6.5%;
    top: 43.30%;
    cursor: pointer;
}

.extend-slider-right-arrow>img {
    height: 23.64px;
    width: 21.25px;
    padding-left: 10px;
    padding-top: 7px;
}

/* Image extend slider */
.invite-member .memberList {
    box-sizing: border-box;
    position: absolute;
    display: none;
    width: 535px;
    height: auto;
    border-radius: 4px;
    margin-top: 16px;
}

.invite-member .memberList #ml-admintype {
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 7.5px;
    display: block;
    font-weight: 600;
}

.invite-member .memberList #ml-membertype {
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 7.5px;
    display: block;
    font-weight: 600;
}

.member-img {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    float: left;
}

.member-div {
    box-sizing: border-box;
    height: 56px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 8px 16px;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
}

.member-div:hover {
    background-color: #F5F5F5;
}

.member-div span {
    display: block;
    overflow: hidden;
    float: left;
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    margin-left: 12px;
}

.member-name {
    display: block;
    overflow: hidden;
    float: left;
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    margin-left: 12px;
}

/*reply msg design*/
.msgReply {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #D8D8D8;
    margin-top: 12px;
}

.msgReply .groupImg {
    display: inline-block;
}

.msgReply .countReply {
    display: inline-block;
    margin-left: 16px;
    cursor: pointer;
}

.msgReply .groupImg img {
    margin-right: -12px;
    height: 16px;
    width: 16px;
    border-radius: 15px;
    display: inline-block;
}

.msgReply .countReply p {
    height: 16px;
    color: #1676EA;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.17px;
    line-height: 0px;
    display: inline-block;
    position: relative;
    top: -3px;
}

.countReply .replyarrow {
    width: 8px;
    height: 8px;
    position: relative;
    top: -3px;
}

.toDoContent {
    box-sizing: border-box;
    height: 117px;
    width: 401px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background-color: #FAFAFA;
    margin-top: 7.5px;
    padding: 16.5px;
}

.toDoContent:hover {
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 8px 10px 0 rgba(10, 31, 68, 0.1);
}

.toDoContent .toDoContent_Sec1 {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.toDoContent .toDoContent_Sec2 {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin-top: 13px;
}

.toDoContent_Sec1 img {
    display: inline-block;
    float: left;
}

.toDoContent_Sec1 .acceptCheck {
    display: inline-block;
    width: 18px;
    height: 18px;
    float: left;
}

.toDoContent_Sec1 .acceptCheck::after {
    font-family: 'FontAwesome';
    content: "\f00c";
    color: green;
    font-size: 18px;
}

.toDoContent_Sec1 .acceptedLabel {
    color: #008000;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.17px;
    line-height: 18px;
    float: left;
    margin-left: 8px;
}

.toDoContent_Sec1 .acceptedLabel:hover>label {
    text-decoration: underline;
    cursor: pointer;
}

.toDoContent_Sec1 .toDoName {
    display: block;
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-left: 43.44px;
    margin-bottom: 6px;
}

.toDoContent_Sec1 p {
    display: block;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 14px;
    line-height: 16px;
    margin-left: 43.44px;
}

.toDoContent_Sec2 .accept_toDO,
.toDoContent_Sec2 .decline_toDo {
    display: inline-block;
    box-sizing: border-box;
    height: 31px;
    width: 90px;
    border: 1px solid #1676EA;
    border-radius: 4px;
    background-color: rgba(22, 118, 234, 0.04);
    cursor: pointer;
    margin-right: 7px;
    color: #1676EA;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    float: left;
}

.toDoContent_Sec2 .acceptedMember {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 18px;
    display: block;
    margin-bottom: 6px;
}

.toDoContent_Sec2 .selected_member {
    box-sizing: border-box;
    height: 24px;
    width: 24.12px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-right: -12px;
    float: left;
}

.toDoContent_Sec2 .countSelected {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
    display: inline;
    float: left;
    margin-left: 18px;
}

.chanel-name {
    cursor: pointer;
}

/*event content for msg*/
.event_content {
    box-sizing: border-box;
    height: auto;
    width: 437px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background-color: #FAFAFA;
    margin-top: 7.5px;
    padding: 16.5px 16px 16px;
}

.event_content:hover {
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 8px 10px 0 rgba(10, 31, 68, 0.1);
}

.event_content .event_content_sec1 {
    width: 403px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.event_content .event_content_sec2 {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 15.5px;
    width: 100%;
}

.event_content_sec1 img {
    display: inline-block;
    float: left;
}

.event_content_sec1 .acceptCheck {
    display: inline-block;
    width: 18px;
    height: 18px;
    float: left;
}

.event_content_sec1 .acceptCheck::after {
    font-family: 'FontAwesome';
    content: "\f00c";
    color: green;
    font-size: 18px;
}

.event_content_sec1 .acceptedLabel {
    color: #008000;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.17px;
    line-height: 18px;
    float: left;
    margin-left: 8px;
}

.event_content_sec1 .acceptedLabel:hover>label {
    text-decoration: underline;
    cursor: pointer;
}

.event_content_sec1 .toDoName {
    display: block;
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-left: 43.44px;
    margin-bottom: 6px;
}

.event_content_sec1 .dateAndTime {
    display: block;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 14px;
    line-height: 16px;
    margin-left: 43.44px;
    margin-bottom: 6px;
}

.event_content_sec1 .location {
    display: block;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 14px;
    line-height: 16px;
    margin-left: 43.44px;
}

.event_content_sec2 .attending {
    margin-right: 7px;
    box-sizing: border-box;
    height: 31px;
    width: 107px;
    border: 1px solid #1676EA;
    border-radius: 4px;
    background-color: rgba(22, 118, 234, 0.04);
    color: #1676EA;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.event_content_sec2 .maybe_attending {
    margin-right: 7px;
    box-sizing: border-box;
    height: 31px;
    width: 149px;
    border: 1px solid #1676EA;
    border-radius: 4px;
    background-color: rgba(22, 118, 234, 0.04);
    color: #1676EA;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.event_content_sec2 .not_attending {
    margin-right: 0px;
    box-sizing: border-box;
    height: 31px;
    width: 132px;
    border: 1px solid #1676EA;
    border-radius: 4px;
    background-color: rgba(22, 118, 234, 0.04);
    color: #1676EA;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.event_content_sec2>.attendingMemberLabel,
.maybeAttMemberLabel,
.notAttMemberLabel {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 18px;
    display: inline-block;
    margin-bottom: 6px;
    float: left;
    width: 32%;
}

.event_content_sec2 .notAttMember {
    margin-right: 0px;
}

.event_content_sec2 .attendingMemberCount .selected_member {
    box-sizing: border-box;
    height: 24px;
    width: 24.12px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-right: -12px;
    float: left;
}

.event_content_sec2 .maybeAttMemberCount .selected_member {
    box-sizing: border-box;
    height: 24px;
    width: 24.12px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-right: -12px;
    float: left;
}

.event_content_sec2 .notAttMemberCount .selected_member {
    box-sizing: border-box;
    height: 24px;
    width: 24.12px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-right: -12px;
    float: left;
}

.event_content_sec2 .maybeAttMemberCount .countSelected {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
    display: inline;
    float: left;
    margin-left: 18px;
}

.event_content_sec2 .notAttMemberCount .countSelected {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
    display: inline;
    float: left;
    margin-left: 18px;
}

.attendingMemberCount,
.maybeAttMemberCount,
.notAttMemberCount {
    width: 32%;
    height: auto;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}

/* Todos calender design css*/
.todo-calender {
    height: 464px;
    width: 387px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.1), 0 18px 18px 0 rgba(10, 31, 68, 0.12);
    position: absolute;
    top: -2px;
    right: 0px;
    padding: 27px 0px 33px;
    box-sizing: border-box;
    z-index: 9;
}

.todo-calender h4 {
    color: #6B7897;
    font-family: hvLato;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.59px;
    line-height: 18px;
    padding: 0 32px;
    position: relative;
}

.todo-calender h4>.next-arrow {
    position: absolute;
    right: 32.63px;
    bottom: -5px;
    height: 22px;
    width: 22px;
    border-radius: 11.29px;
    background-color: #F7F8FC;
    cursor: pointer;
}

.todo-calender h4>.prev-arrow {
    position: absolute;
    right: 66.63px;
    bottom: -5px;
    height: 22px;
    width: 22px;
    border-radius: 11.29px;
    background-color: #F7F8FC;
    cursor: pointer;
}

.todo-days {
    margin-top: 29.21px;
    margin-bottom: 16.9px;
    padding: 0 32px;
}

.todo-days>span {
    color: rgba(52, 72, 94, 0.54);
    font-family: hvAssistant;
    font-size: 15.65px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    margin-right: 38.3px;
}

.todo-days>span:last-child {
    margin-right: 0;
}

.todo-dates {
    padding: 0 24px
}

.todo-dates>span {
    color: #7C86A2;
    font-family: hvAssistant;
    font-size: 14.54px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 15.1px;
    box-sizing: border-box;
    padding: 7px;
    cursor: pointer;
    margin-bottom: 1.5px;
}

.todo-dates>.perv-month {
    color: #E1E4E7;
}

.todo-dates>.selected {
    background-color: #1676EA;
    color: #FFFFFF;
    border-radius: 50%;
}

.todo-dates>span:nth-child(7n) {
    margin-right: 0px;
}

.todo-from-to-reminder {
    margin: 17.5px 0 15.5px;
    padding: 0 32px;
}

.todo-from {
    margin-right: 7.5px;
}

.todo-from,
.todo-to {
    float: left;
    height: 36px;
    width: 157.5px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 8px 36px 8px 16px;
    box-sizing: border-box;
    background-image: url(/images/basicAssets/ChooseTime.svg);
    background-repeat: no-repeat;
    background-position-x: 124px;
    background-position-y: center;
    background-size: 19px;
}

.todo-reminder {
    display: block;
    height: 36px;
    width: 323px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    overflow: hidden;
    padding: 8px 36px 8px 16px;
    box-sizing: border-box;
    background-image: url(/images/basicAssets/Reminder_gray.svg);
    background-repeat: no-repeat;
    background-position-x: 286px;
    background-position-y: center;
    background-size: 20px;
}

.todo-from::placeholder,
.todo-to::placeholder,
.todo-reminder::placeholder {
    color: #A6AEBC;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.todo-btn-div {
    float: right;
    padding: 0 32px;
}

.todo-done-btn {
    height: 37px;
    width: 85px;
    border-radius: 4px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    /* line-height: 21px; */
    border: none;
    cursor: pointer;
    margin-left: 4px;
}

/* Upload File popup  */
.Chat_File_Upload {
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 1032;
    display: block;
    overflow-y: scroll;
}

.chat-file-upload-popup {
    min-height: 416px;
    width: 560px;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin: 60px auto;
    display: block;
    overflow: hidden;
}

.chat-upload-popup-title {
    height: 32px;
    width: 560px;
    color: rgba(0, 0, 0, 0.72);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    padding: 8px 0;
    background-color: #ECEFF1;
    margin-bottom: 0px;
    position: relative;
}

.close-chat-file-popup {
    position: absolute;
    top: 4px;
    right: 7px;
    cursor: pointer;
}

.chat-upload-popup-content {
    margin: 24px 32px;
    display: block;
    overflow: hidden;
}

.chat-file-drag-upload-label {
    height: 148px;
    width: 496px;
    border: 1px dashed #979797;
    border-radius: 4px;
    background-color: #F7F9F9;
    color: rgba(0, 0, 0, 0.24);
    font-family: hvAssistant;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 32px;
    background-image: url(/images/drag-file.png);
    background-repeat: no-repeat;
    background-position-y: 31px;
    background-position-x: center;
    cursor: pointer;
}

.chat-file-upload-comment {
    box-sizing: border-box;
    display: grid;
    margin-top: 22px;
}

.chat-file-upload-comment label {
    height: 22px;
    color: rgba(0, 0, 0, 0.56);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 22px;
    text-align: left;
    display: block;
    margin-bottom: 4px;
}

.chat-file-upload-comment textarea {
    height: 84px;
    width: 496px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    background-color: #FFFFFF;
    resize: none;
    padding: 8px 12px;
}

.chat-file-upload-comment textarea::placeholder {
    height: 20px;
    width: 192px;
    color: rgba(0, 0, 0, 0.24);
    font-family: hvAssistant;
    font-size: 16px;
    line-height: 20px;
}

.chat-upload-popup-content button {
    height: 40px;
    width: 96px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.16);
    padding: 11px 26.5px 13px 27.5px;
    color: #FFFFFF;
    font-family: "hvWorkSans";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 16px;
    text-align: center;
    margin-top: 16px;
    float: right;
    border: none;
    cursor: pointer;
}

.chat-upload-popup-content button.active {
    background: linear-gradient(#64b8fd, #008bff);
}

.chat-uploading-files {
    height: 68px;
    width: 496px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 16px 13px;
    box-sizing: border-box;
    display: block;
    position: relative;
    margin-bottom: 4px;
}

.close-chat-uploading-file {
    position: absolute;
    top: 20px;
    right: 17px;
    cursor: pointer;
}

.chat-file-icons {
    margin-right: 13px !important;
    display: block;
    box-sizing: border-box
}

.chat-file-icons img {
    float: left;
    box-sizing: border-box;
    height: 36px;
    width: 36px;
    margin-right: 14px;
}

.chat-file-information {
    /* margin-left: 13px; */
}

.chat-file-information h4 {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 22px;
    margin-top: -6px;
    margin-bottom: 4px;
    text-align: left;
    width: 83%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat-file-information p {
    color: rgba(0, 0, 0, 0.32);
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 0px;
    text-align: left
}

.hidden {
    display: none;
}

.msgs-form-users a {
    text-decoration: none;
    font-family: hvAssistant;
}

.msgs-form-users .attach-file {
    height: 68px;
    width: 508px;
    border: 1px solid #CFD8DC;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin-top: 5px;
}

.msgs-form-users .attach-file>img {
    float: left;
    margin: 16px 20px 0px 20px;
    height: 36px;
}

.msgs-form-users .attach-file>.file-name {
    height: 16px;
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 16px;
}

.msgs-form-users .attach-file>.file-time {
    height: 16px;
    color: #90A4AE;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 4px;
}

/* Emoji div */
.emoji_div {
    position: fixed;
    bottom: 60px;
    right: 20px;
    height: 296px;
    width: 368px;
    border-radius: 8px;
    overflow: auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08), 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.emoji_div .search-emoji-from-list input {
    height: 32px;
    width: 336px;
    margin-left: 12px;
    border: 1px solid #CFD8DC;
    border-radius: 2px;
    background-color: #FFFFFF;
    text-indent: 15px;
}

.emoji_div .emoji-container-name {
    height: 12px;
    /*width: 152px;*/
    color: #546E7A;
    /*font-family: "hvWorkSans";*/
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    margin: 12px 16px 5px;
}

.emoji_div .emoji-container {
    width: 336px;
    height: auto;
    margin-left: 18px;
}

.emoji_div .emoji-container>img:nth-child(10n+1) {
    margin: 4px 5px 5px 0px;
}

.emoji_div .emoji-container>img {
    width: 24px;
    height: 24px;
    margin: 4px 5px;
    cursor: pointer;
}

/* End emoji div */
/* End Upload File popup  */



/*create tag conversation*/
.taggedList {
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 0px 5px;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 8px 10px 0 rgba(10, 31, 68, 0.1);
    box-sizing: border-box;
    z-index: 999;
    margin-top: 2px;
}

.taggedList li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DBDBDB;
    font-family: hvAssistant;
    color: #A6AEBC;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-left: 16px;
}

.taggedList li:last-child {
    border-bottom: none;
}


.chat-head-calling>.addTagConv {
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 8px 10px 0 rgba(10, 31, 68, 0.1);
    float: left;
    margin-right: 8px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    background-image: url('/images/basicAssets/custom_tagged.svg');
    background-repeat: no-repeat;
    background-position: 5% 50%;
}

.chat-head-calling>.addTagConv>input {
    width: 201px;
    padding: 8.5px;
    padding-left: 30px;
    border: none;
    background: transparent;
    position: relative;
}

@-moz-document url-prefix() {
    .added-channel-members .checkToDo:checked+label::after {
        font-family: 'FontAwesome';
        content: "\f00c";
        color: white;
        font-size: 9px;
        position: relative;
        /* right: 149px; */
        left: -93px;
        top: -2px;
        cursor: pointer;
    }

    .fileContainer {
        padding-bottom: 1px;
    }
}

#msg[placeholder]:empty:before,
#msg_rep[placeholder]:empty:before {
    content: attr(placeholder);
    color: rgba(0, 0, 0, 0.24);
    font-family: hvAssistant;
}

@media (min-width: 1080px) and (max-width: 1366px) {
    .chat-page {
        height: 65vh;
    }

    .create-channel {
        height: 81vh;
    }
}

@media screen and (width: 1440px) {
    .chat-page {
        height: 75vh;
    }
}

@media (min-width: 1500px) and (max-width: 1920px) {
    .chat-page {
        height: 78vh;
    }
}


.tooltip_for_sidebar,
.tooltipRooms {
    box-sizing: border-box;
    height: 32px;
    background-color: #000000;
    margin-left: 17px;
    border-radius: 6px;
    padding: 8px;
    display: inline-block;
    position: absolute;
    margin-top: -36px;
    left: 0px;

}

.tooltip_for_sidebar p,
.tooltipRooms p {
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: left;
    display: block;
}

.tooltip_for_sidebar span:before,
.tooltipRooms span:before {
    top: 14px;
    left: 8px;
    content: " ";
    position: relative;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #060606 transparent transparent transparent;

}

.tooltipRooms {
    display: none;
}

.label_head_aside>h3:hover+.tooltipRooms {
    display: block;
}

.chanel-name .lock {
    background-image: url(/images/basicAssets/PrivateLock.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    position: absolute;
    width: 24px;
    left: -6px;
    height: 24px;
    top: -1px;
}

.chanel-name .hash {
    background-image: url(/images/basicAssets/PublicHash.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    position: absolute;
    width: 24px;
    left: -5px;
    height: 24px;
    top: -1px;
}
