.side-bar {
    box-sizing: border-box;
    /* height: 717px; */
    width: 20%;
    border: 1px solid #DBDBDB;
    background-color: #F2F2F2;
    display: block;
    height: 100vh;
    float: left;
    margin-top: 62px;
}

.search-chats {
    margin-left: 25px;
    position: relative;
    margin-top: 18px;
}

.search-chats input {
    -moz-appearance: none;
    /* border: none */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #DBDBDB;
    outline-color: none;
    background-color: #F2F2F2;
    padding-bottom: 12px;
    /* padding-right: 15px; */
    width: 217px;
    text-indent: 20px;
}

.search-chats input::placeholder {
    height: 20px;
    width: 86px;
    color: rgba(0, 0, 0, 0.32);
    font-family: hvAssistant;
    font-size: 16px;
    line-height: 20px;
}

.side-bar-search-icon {
    position: absolute;
    left: 0px;
    bottom: 12px;
    transform: rotate(23.02deg);
    /* width: 16px;
    height: 16px; */
}

.side-bar-filter-icon {
    position: absolute;
    right: 29px;
    bottom: 12px;
    width: 16px;
    height: 18px;
}

.to_do_sidebar {
    /*	margin: 25px;
*/
}

.to_do_pinned {
    margin-top: 32px;
}

.to_do_pinned h3 {
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
    margin-bottom: 12px;
    padding-left: 25px
}

.to_do_overdue {
    margin-top: 32px;
}

.to_do_overdue h3 {
    cursor: pointer;
    color: #E03C31;
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
    margin-bottom: 12px;
    padding-left: 25px
}

.to_do_Container li img {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    position: relative;
    top: 4px;
    margin-right: 8px;
}

.to_do_Container li {
    color: #5A5A5A;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 27px;
    list-style: none;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.to_do_Container li:hover {
    background-color: rgba(22, 118, 234, 0.08);
}

.to_do_list {
    margin-top: 32px;
}

.to_do_Container li span.categorie {
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 15px;
}

.to_do_list h3 {
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
    margin-bottom: 12px;
    padding-left: 25px;
}

span.plus_To_Do {
    height: 19px;
    width: 19px;
    border-radius: 9.5px;
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
}

.right-section {
    float: left;
    margin-top: 64px;
    width: 80%;
    display: block;
    background: rgb(250, 250, 250);
}

.to_do_container {
    width: 100%;
    display: block;
    height: auto;
}

.to_do_header {
    padding-left: 47px;
    padding-right: 24px;
    height: 80px;
}

.to_do_head_left,
.to_do_head_left input,
.to_do_head_left label {
    float: left;
    display: block;
    margin-top: 20px;
}

.to_do_head_left h1 {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 23px;
}

.to_do_head_right {
    float: right;
}

.to_do_head_right div,
.to_do_head_right input {
    float: left;
    display: block;
    margin-top: 32px;
}

.to_do_head_right .addNewTag img {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    padding-left: 0px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 8%;
    background-position-y: 50%;
    margin-left: 12px;
}

.to_do_head_right .addNewTag::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-family: hvAssistant;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 21px;
}

.to_do_head_right .plug {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    margin-left: 12px;
    border-radius: 50%;
}

.to_do_head_right .plug img,
.to_do_head_right .pin img,
.to_do_head_right .more img {
    height: 20px;
    width: 20px;
    text-align: center;
    position: relative;
    left: 6px;
    top: 6px;
    cursor: pointer;
}

.to_do_head_right .pin {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    margin-left: 12px;
    border-radius: 50%;
}

.to_do_head_right .more {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    margin-left: 12px;
    border-radius: 50%;
}

.workspaceform {
    width: 100%;
    display: block;
    padding-left: 47px;
    margin-top: 40px;
}

form .form_left {
    width: 400px;
    display: block;
    float: left;
}

.form_left .fullLabel {
    width: 100%;
    display: block;
    overflow: hidden;
    color: #53627C;
    font-family: "hvWorkSans";
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.selectWorkspace {
    display: inline-block;
    float: left;
    width: 200px;
    margin-top: 6px;
    margin-bottom: 32px;
    height: 48px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding-left: 16px;
    color: #A6AEBC;
    background-image: url(/images/basicAssets/Down_Chevron.svg) !important;
    background-repeat: no-repeat !important;
    background-color: #FFFFFF !important;
    background: transparent;
    -webkit-appearance: none;
    position: relative;
    background-position-x: 98%;
    background-position-y: 40%;
    -moz-appearance: none;
}

.styled-select select {
    background: #FFFFFF;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 32px;
    height: 48px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding-left: 16px;
    color: #A6AEBC;
    -webkit-appearance: none;
}

.styled-select {
    width: 100%;
    height: 48px;
    overflow: hidden;
    background: url('/images/basicAssets/Down_Chevron.svg') no-repeat right;
    border: 1px solid #ccc;
    margin-bottom: 32px;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #A6AEBC;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #A6AEBC;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #A6AEBC;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #A6AEBC;
}

.notes_area {
    width: 100%;
    height: 98px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 32px;
    padding-top: 13px;
    padding-left: 16px;
}

.inputGroup {
    width: 180px;
    display: block;
    float: left;
    margin-bottom: 24px;
    margin-top: -16px;
}

.input_box {
    height: 48px;
    width: 180px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding-left: 16px;
    margin-top: 6px;
    background-image: url("/images/basicAssets/Choose Date.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 40%;
    cursor: pointer;
}

.input_box2 {
    height: 48px;
    width: 400px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding-left: 16px;
    margin-top: 6px;
}

.shareingImg img {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    margin-right: -15px;
    margin-top: 8px;
    cursor: pointer;
}

.shareingImg span {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
    position: relative;
    left: 15px;
    top: -15px;
}

.shareingImg {
    margin-bottom: 32px;
    margin-top: 16px;
}

.uploadFile {
    margin-top: 40px;
    height: 44px;
    width: 120px;
    border: 1px solid #4A90E2;
    border-radius: 4px;
    color: #4A90E2;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    padding-left: 16px;
    background-image: url('/images/basic_view/upload.PNG');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 90%;
    cursor: pointer;
}

input#uploadFile {
    position: relative;
    height: 44px;
    width: 120px;
    top: -35px;
    opacity: 0;
    cursor: pointer !important;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /* margin-top: 40px; */
    height: 44px;
    width: 120px;
    border: 1px solid #4A90E2;
    border-radius: 4px;
    color: #4A90E2;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    padding-left: 16px;
    background-image: url('/images/basic_view/upload.PNG');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 90%;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.form_right {
    float: left;
    display: block;
    padding-left: 40px;
    width: 50%;
}

.form_right .checklist_item {
    width: 100%;
    background: transparent;
    border: none;
    /*border-bottom:1px solid #DBDBDB;*/
}

.checklist_item_list {
    width: 100%;
    border-top: 1px solid #DBDBDB;
    padding-top: 28px;
    margin-top: 11px;
    position: relative;
}

.item_progress {
    width: 424px;
    height: 8px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #DBDBDB;
    position: relative;
    top: 4px;
    left: 8px;
    margin-bottom: 15px;
}

.item_progress .progress {
    border-radius: 4px;
    background-color: #4A90E2;
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.progress_status {
    float: left;
    color: #4A90E2;
    font-family: hvAssistant;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 15px;
}

.checklist_item_list .item {
    width: 100%;
    float: left;
}


/*checkbox item design*/

.to_do_head_left .checkToDo {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border: 2px solid #E6E8ED;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}

.to_do_head_left .checkToDo:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
    color: blue;
    font-size: 12px;
    position: relative;
    /* right: 149px; */
    left: -148px;
    top: 0px;
    cursor: pointer;
}

.to_do_head_left label {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 18px;
}

.checklist_item_list .item input {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border: 1px solid #E6E8ED;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}

.checklist_item_list .item label {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 29px;
}

.checklist_item_list .item input:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
    color: blue;
    font-size: 10px;
    position: absolute;
    /* right: 149px; */
    left: 3px;
    cursor: pointer;
    line-height: 24px;
}

.filterMainContainer {
    position: absolute;
    height: 168px;
    width: 256px;
    left: 219px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.16), 0 3px 4px 0 rgba(10, 31, 68, 0.16);
    z-index: 10;
    box-sizing: border-box;
    padding: 15px 24px;
    display: none;
}

.filterItem {
    display: block;
    overflow: hidden;
    height: auto;
}

.filterItem span,
.chooseTag span {
    color: #8A94A6;
    font-family: hvAssistant;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
}

.filterItem li {
    display: block;
    width: 100%;
    color: #53627C;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    list-style: none;
    float: left;
    margin-top: 20px;
    cursor: pointer;
}

.filterItem .tagged {
    background-image: url(/images/basicAssets/Chevron_Right.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: 10px;
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.33);
    z-index: 1000;
}


/* Inner */

.popup-inner {
    height: 420px;
    width: 438px;
    padding-left: 32px;
    padding-top: 24px;
    /* padding-right: 40px; */
    position: absolute;
    top: 58%;
    left: 54%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #FAFAFA;
}


/* Close Button */

.popup-close {
    width: 12px;
    height: 12px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 22px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    /* background: rgba(0, 0, 0, 0.8); */
    font-family: Arial, Sans-Serif;
    font-size: 24px;
    text-align: center;
    line-height: 100%;
    color: #9B9B9B;
}

.popup-close:hover {
    color: #9B9B9B;
}

.members {
    color: #000000;
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-bottom: 25px;
}

.user_area {
    height: 55px;
    width: 399px;
    border: 1px solid #979797;
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: #F5F5F5;
    cursor: pointer;
}

.digit {
    color: #9B9B9B;
}

.user_name {
    position: relative;
    top: -8px;
    left: 16px;
    font-family: "hvWorkSans";
}

.user_area img {
    border-radius: 12px;
    position: relative;
    top: 8px;
    left: 10px;
}

.user_left_area {
    display: inline-block;
}

.user_right_area {
    display: inline-block;
    margin-left: 78px;
    position: relative;
    top: -5px;
}

.user_right_area img {
    margin-right: 16px;
}

.white_area {
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.hidden {
    visibility: hidden;
}

.to_do_head_left {
    border-bottom: 1px solid #DBDBDB;
    width: 50%;
    padding-bottom: 8px;
}


/* New pop-up */

.todo_heading {
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 28px;
}

#popup_inner2 {
    width: 519px;
    height: auto;
    background-color: #FAFAFA;
    padding-left: 32px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 32px;
    position: absolute;
    top: 57%;
    left: 54%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
}

.title_text {
    color: #53627C;
    font-family: "hvWorkSans";
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 32px;
    margin-bottom: 6px;
}

.title_textbox {
    height: 48px;
    width: 96%;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    color: #0A1F44;
    font-family: "hvWorkSans";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 16px;
    margin-bottom: 26px;
}

.advance-separetor {
    width: 100%;
    margin: 24px 0px;
    text-align: center;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}

.advance-separetor::after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #9B9B9B;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    opacity: 0.3;
}

.advance-separetor p {
    width: auto;
    display: inline-block;
    color: #8A94A6;
    font-size: 11px;
    font-family: hvAssistant;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0.2px;
    position: relative;
    background-color: #FFFFFF;
    z-index: 3;
    padding: 0 5px;
}

.inline_block {
    display: inline-block;
    float: left;
}

.inline_block label {
    color: #53627C;
    /* font-family: "SF Pro Text"; */
    font-family: hvAssistant;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.group_textbox {
    margin-top: 26px;
}

.date_textbox {
    height: 48px;
    width: 180px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding-left: 16px;
    margin-top: 6px;
}

.share_textbox {
    height: 48px;
    width: 243px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding-left: 16px;
    margin-top: 6px;
    margin-bottom: 32px;
}

.label_class {
    color: #53627C;
    /* font-family: "SF Pro Text"; */
    font-family: hvAssistant;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.checklist {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 10px;
    cursor: pointer;
}

.item_list {
    margin-top: 12px;
    width: 100%;
    margin-top: 11px;
    position: relative;
}

.checklist_label {
    color: #53627C;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 21px;
}

.checkbox_container {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    /* color: rgba(0, 0, 0, 0.8); */
    /* font-family: "hvAssistant"; */
    /* font-size: 14px; */
    /* line-height: 18px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #53627C;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 21px;
}


/* Hide the browser's default checkbox */

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-right: 8px;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.16);
}


/* When the checkbox is checked, add a blue background */

.checkbox_container input:checked~.checkmark {
    background-color: #4B90E0;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkbox_container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkbox_container .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: 1px solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div#create-tagged-popup {
    margin-top: 0px;
    margin-left: 12px;
}

input.tagged-popup-title {
    height: 32px;
    width: 256px;
    background-color: #FFFF;
    border-radius: 14px;
    border: 1px solid #fff;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 8px 10px 0 rgba(10, 31, 68, 0.1);
}

input.tagged-popup-title {
    height: 32px;
    width: 240px;
    background-color: #FFFF;
    border-radius: 14px;
    border: 1px solid #fff;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 8px 10px 0 rgba(10, 31, 68, 0.1);
    background-image: url(/images/basic_view/tag.png);
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 25px;
    background-position-y: 50%;
    background-position-x: 2%;
}

ul.tags_droupdown {
    width: 265px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 8px 10px 0 rgba(10, 31, 68, 0.1);
    position: absolute;
    top: 132px;
    padding-right: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    z-index: 999;
}

ul.tags_droupdown li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DBDBDB;
    font-family: hvAssistant;
    color: #A6AEBC;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-left: 16px;
}


/* Todos calender design css*/

.todo-calender {
    height: 464px;
    width: 387px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.1), 0 18px 18px 0 rgba(10, 31, 68, 0.12);
    position: absolute;
    top: 205px;
    right: 36%;
    padding: 27px 0px 33px;
    box-sizing: border-box;
    z-index: 9;
}

.todo-calender h4 {
    color: #6B7897;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.59px;
    line-height: 18px;
    padding: 0 32px;
    position: relative;
}

.todo-calender h4>.next-arrow {
    position: absolute;
    right: 32.63px;
    bottom: -5px;
    height: 22px;
    width: 22px;
    border-radius: 11.29px;
    background-color: #F7F8FC;
    cursor: pointer;
}

.todo-calender h4>.prev-arrow {
    position: absolute;
    right: 66.63px;
    bottom: -5px;
    height: 22px;
    width: 22px;
    border-radius: 11.29px;
    background-color: #F7F8FC;
    cursor: pointer;
}

.todo-days {
    margin-top: 29.21px;
    margin-bottom: 16.9px;
    padding: 0 32px;
}

.todo-days>span {
    color: rgba(52, 72, 94, 0.54);
    font-family: hvAssistant;
    font-size: 15.65px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    margin-right: 38.3px;
}

.todo-days>span:last-child {
    margin-right: 0;
}

.todo-dates {
    padding: 0 24px
}

.todo-dates>span {
    color: #7C86A2;
    font-family: hvAssistant;
    font-size: 14.54px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 15.1px;
    box-sizing: border-box;
    padding: 7px;
    cursor: pointer;
    margin-bottom: 1.5px;
}

.todo-dates>.perv-month {
    color: #E1E4E7;
}

.todo-dates>.selected {
    background-color: #1676EA;
    color: #FFFFFF;
    border-radius: 50%;
}

.todo-dates>span:nth-child(7n) {
    margin-right: 0px;
}

.todo-from-to-reminder {
    margin: 17.5px 0 15.5px;
    padding: 0 32px;
}

.todo-from {
    margin-right: 7.5px;
}

.todo-from,
.todo-to {
    float: left;
    height: 36px;
    width: 157.5px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 8px 36px 8px 16px;
    box-sizing: border-box;
    background-image: url(/images/basicAssets/ChooseTime.svg);
    background-repeat: no-repeat;
    background-position-x: 124px;
    background-position-y: center;
    background-size: 19px;
}

.todo-reminder {
    display: block;
    height: 36px;
    width: 323px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    overflow: hidden;
    padding: 8px 36px 8px 16px;
    box-sizing: border-box;
    background-image: url(/images/basicAssets/Reminder_gray.svg);
    background-repeat: no-repeat;
    background-position-x: 286px;
    background-position-y: center;
    background-size: 20px;
}

.todo-from::placeholder,
.todo-to::placeholder,
.todo-reminder::placeholder {
    color: #A6AEBC;
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.todo-btn-div {
    float: right;
    padding: 0 32px;
}

.todo-done-btn {
    height: 37px;
    width: 85px;
    border-radius: 4px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    /* line-height: 21px; */
    border: none;
    cursor: pointer;
    margin-left: 4px;
}

.todo-cancel-btn {
    box-sizing: border-box;
    height: 38px;
    width: 96px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 21px;
    cursor: pointer;
    background-color: transparent;
}


/* ---------- LIVE-CHAT ---------- */

#live-chat {
    bottom: 0;
    font-size: 12px;
    right: 0px;
    position: fixed;
    width: 617px;
    background-color: #ffffff;
    height: 100vh;
    overflow-y: scroll;
    display: none;
}

#live-chat header {
    box-sizing: border-box;
    height: 74px;
    width: 100%;
    border: 1px solid #E1E4E8;
    background-color: #F2F2F2;
    margin-top: 63px;
}

.heading_area {
    padding-top: 16px;
    display: inline-block;
    float: left;
}

.heading_area img {
    margin-left: 14px;
}

.border_right {
    float: left;
    width: 1px;
    height: 50px;
    display: inline-block;
    margin-top: 9px;
    margin-left: 15px;
    background-color: #D8D8D8;
}

#live-chat h4:before {
    /*background: #1a8a34;*/
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat h4 {
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 19px;
}

.count_member {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 18px;
    position: relative;
    top: -8px;
}

#live-chat h5 {
    color: rgba(0, 0, 0, 0.88);
    font-family: "hvWorkSans";
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    float: left;
    display: inline-block;
}

#live-chat form {
    padding: 17px;
    box-sizing: border-box;
    height: 74px;
    width: 100%;
    /* border: 1px solid #E1E4E8; */
    background-color: #F2F2F2;
    position: fixed;
    bottom: 0;
}

#live-chat input[type="text"] {
    height: 40px;
    width: 567px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding-left: 12px;
}

.chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.chat-close {
    /* background: #1b2126; */
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
    margin-right: 20px;
    margin-top: 20px;
}

.chat {
    background: #fff;
}

.chat-history {
    padding: 8px 24px;
}

.chat-message {
    /* margin: 16px 0; */
    display: flex;
    margin-top: 14px;
}

.chat-message img {
    border-radius: 50%;
    float: left;
}

.chat-message-content {
    margin-left: 12px;
}

.chat-time {
    color: rgba(0, 0, 0, 0.5);
    font-family: hvAssistant;
    font-size: 12px;
    line-height: 15px;
    float: left;
    display: inline-block;
    margin-left: 4px;
}

.chat-feedback {
    font-style: italic;
    margin: 0 0 0 80px;
    font-family: "hvWorkSans";
}

.voice-call {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 8.5px;
    margin-left: 24.5px;
    margin-top: 16px;
}

.video-call {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 8.5px;
    margin-left: 4px;
    margin-top: 16px;
}

.chating_para {
    color: rgba(0, 0, 0, 0.88);
    font-family: "Apple Color Emoji";
    font-size: 14px;
    line-height: 26px;
    width: 100%;
    margin-top: -26px;
    margin-left: 30px;
}

.chating_para_2 {
    color: rgba(0, 0, 0, 0.88);
    font-family: hvAssistant;
    font-size: 14px;
    line-height: 18px;
    width: 72%;
    clear: both;
    top: 0px !important;
    position: relative;
}

.media_img img {
    border-radius: unset !important;
    float: none !important;
}

.send-attach-file {
    right: 62px;
    width: 20px;
    height: 20px;
    top: 36px;
    cursor: pointer;
}

.send-emoji {
    right: 30px;
    width: 20px;
    height: 20px;
    top: 36px;
    cursor: pointer;
}

.adons {
    position: relative;
    top: -30px;
    float: right;
    left: 8px;
}