@import url('./fonts/haven-fonts.css');
@import url('./fonts/fontawesome-all.css');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.main-container {
    display: block;
    overflow: hidden;
}

.main-header {
    height: 64px;
    width: 100%;
    background-color: #FFFFFF;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.header-left {
    float: left;
    width: 33%;
}

.main-menu-list {
    list-style: none;
    box-sizing: border-box;
    margin-left: 24px;
}

.main-menu-list li {
    display: inline-block;
    color: #9B9B9B;
    font-family: hvAssistant;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.18px;
    line-height: 28px;
    padding: 14px 0px 18px 0;
    margin-right: 32px;
    cursor: pointer;
    box-sizing: border-box;
}
.main-menu-list li:last-child{
    margin-right: 0px;
}

.main-menu-list li a {
    color: #9B9B9B;
    text-decoration: none;
}

.main-menu-list li.active {
    color: #1676EA;
    border-top: 4px solid #1676EA;
}
.main-menu-list li.active a {
    color: #1676EA;
}

.header-midd {
    float: left;
    width: 33%;
    text-align: center;
    display: block;
    overflow: hidden;
}

.hayven-logo {
    text-align: center;
    font-family: hvAssistant;
    font-weight: 600;
    user-select: none;
    /* display: table-cell; */
    vertical-align: middle;
    line-height: 64px;
    font-size: 32px;
    cursor: pointer;
    text-decoration: none;
}
/*
.header-right {
    float: left;
    width: 33%;
}*/
.header-right{
    float: right;
    display: block;
    overflow: hidden;
    line-height: 64px;
    margin-right: 24px;
}
.header-right .plus{
    float: left;
    cursor: pointer;
    width: 56px;
    background-color: rgba(74,144,226,0.16);
    text-align: center;
    border-left:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
}
.header-right .plus_ico{
    user-select: none;
    vertical-align: middle;
}

.notification{
   float: left;
   cursor: pointer;
   width: 56px; 
   text-align: center;
   border-right: 1px solid #DBDBDB;
}
.notification img.notification_ico{
    width: 35px;
    height: 35px;
    user-select: none;
    vertical-align: middle;
}
.profile_nav{
    float: left;
    display: block;
    padding-left: 13px;
    cursor: pointer;
    text-align: center;
    
}
.profile_nav img.profilePic{
    width: 35px;
    height: 35px;
    border-radius: 30%;
    user-select: none;
    vertical-align: middle;
}
.profile_nav img.nav_ico{
    position: relative;
    user-select: none;
    vertical-align: middle;
}
.profilenavMainSection{
    width: 307px;
    height: 338px;
    position: absolute;
    margin-top: 4px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 16px 0px 32px;
    border-radius: 4px;
    right: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.1),
    0 18px 18px 0 rgba(10, 31, 68, 0.12);
    cursor: context-menu;
}

.profileNavContainer{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    height: 338px;
    height: auto;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 16px 32px;
    border-bottom:1px solid #F2F2F2;
}
.profileNavContainer .headNav h1{
    color: rgba(18,18,18,0.88);
    font-family: hvWorkSans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 12px;
    float: left;
}
.profileNavContainer .headNav .settingEmail{
    float: right;
    box-sizing: border-box;
    height: 18px;
    width: 18px;
    cursor: pointer;
}
.headNav{
    display: block;
    height: auto;
    overflow: hidden;
}
.switchNav input {
    display: none;
}
.switchNav {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    float: left;
}
input:checked + .sliderNav {
    background-color: #1ed770;
}
.sliderNav.round { 
    border-radius: 34px;
}
.sliderNav {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.sliderNav.round:before {
    border-radius: 50%;
}
.sliderNav:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 4px;
    bottom: 3px;
    top: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 4px 4px 0 rgba(10,31,68,0.16);
}
input:checked + .sliderNav:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(12px);
}

.group_input{
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 4px;
    height: 20px;
}
.group_input .switchFor{
    float: left;
    width: 150px;
    margin-left: 35px;
    color: rgba(18,18,18,0.5);
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    cursor: pointer;
}

.profilenavMainSection .linkAccount{
    height: 21px;
    color: #1676EA;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    margin: 16px 32px 8px 32px;
    display: block;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}
.profilenavMainSection .logOut{
    height: 21px;
    color: #E03C31;
    font-family: hvAssistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    margin: 0px 32px;
    display: block;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}
.side-bar-filter-icon{
    cursor: pointer;
}