/* latin-ext */
@font-face {
  font-family: 'hvWorkSans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url('QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'hvWorkSans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url('QGYsz_wNahGAdqQ43Rh_fKDp.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* hebrew */
@font-face {
  font-family: 'hvAssistant';
  font-style: normal;
  font-weight: 400;
  src: local('Assistant'), local('Assistant-Regular'), url('2sDcZGJYnIjSi6H75xkzamW5O7w.woff2') format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin */
@font-face {
  font-family: 'hvAssistant';
  font-style: normal;
  font-weight: 400;
  src: local('Assistant'), local('Assistant-Regular'), url('2sDcZGJYnIjSi6H75xkzaGW5.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'hvSFProText';
  src: local('SF Pro Text'), local('SFProText-Regular'), url('SFProText-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

/* Webfont: Lato-Regular */
@font-face {
  font-family: 'hvLato';
  src: local('Lato'),
    local('Lato-Regular'),
    url('Lato-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */
@font-face {
  font-family: 'hvLatoBold';
  src: local('Lato Bold'),
    local('Lato-Bold'),
    url('Lato-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'hvHelveticaNeue';
  src: local('Helvetica Neue'),
    local('HelveticaNeue'),
    url('helveticaneue.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}