<div id="createDirMsgContainer" class="create-direct-msg connect_right_section" style="display: none">
	<h2 class="create-direct-msg-heading">Create a direct message</h2>
	<img class="dir-msg-close" onclick="closeRightSection()" src="/images/basic_view/close-msg.JPG" alt="">
	<div class="dir-Workspace">
		<p>Workspace</p>
		<select class="select-ecosystem" id="select-eco">
			<option selected disabled>Choose a Workspace</option>
			<option>Navigate</option>
			<option>Freelance</option>
			<option>Personal</option>
		</select>
	</div>
	<div class="dir-invite-member">
		<p>Invite member to direct message</p>
		<input type="text" class="add-direct-member" placeholder="Search by name or email" onkeyup="searchsldefclas($(this).val());">
		<div class="suggested-type-list">
			<img src="/images/remove_8px_200 @1x.png" class="remove-suggested-type-list">
			<ul class="suggested-list" id="directMsgUserList">


			</ul>

		</div>
		<div class="memberList" id="directMemberCont" style="width: 324px;">
				<div class="type-name" id="ml-membertype" style="display:none;">Members</div>
				<div class="ml-listHl" id="ml-listHl"></div>
		</div>
	</div>
	<div class="btn-group">
		<button class="cancel-btn" onclick="closeRightSection()">Cancel</button>
		<button class="create-btn" onclick="createDirectmsg()">Create Direct Message</button>
	</div>
</div>
